.title{border:2px solid; background:red }
.f1{text-align:center; background:#DDD}
.buttons{text-align:left; border:3px groove #fff; background:aqua; font:italic bold 30px "time new roman"}
a {display:inline-block; margin:auto 20px}
.lb1, .lb2, .lb3, .lb4 {font:normal bold 20px arial; text-decoration:none; border:3px solid #00f ; background:red; padding:5px; color:#fff; text-align:center}

.lb1:hover
{    
    border:5px solid yellow; margin-bottom:20px; font-size:25px; color:black     
}

.lb2:hover
{    
    border:5px solid yellow; margin-bottom:20px; font-size:25px; color:black     
}
.lb3:hover
{    
    border:5px solid yellow; margin-bottom:20px; font-size:25px; color:black     
}
.lb4:hover
{    
    border:5px solid yellow; margin-bottom:20px; font-size:25px; color:black     
}
