    body{
    background-image:url('Flower.jpg');
}

.title
    {
        background:#333;
        font:oblique bold 40px "time new roman";
        color:#fff;
        text-align:center;
        word-spacing:5px; letter-spacing:2px;
        text-transform: capitalize;
    }


fieldset
    {
        border:3px groove #0f0;
        margin-bottom:25px;
        background:aqua;        
    }


legend
    {
        border:3px groove #0f0;
        padding:5px;
        background:lightblue;
        font: normal bold 25px arial;
        color:#00f;
        text-align:left;
        word-spacing:4px; letter-spacing:2px;
        text-transform: capitalize;                        
    }


p
    {
        font-size:20px;
        line-height:25px;
    }


.user1
    {
        display: block;
        background:#ddd;
        border:3px solid #00f;            
        min-width:300px; max-width:350px;
        max-height:300px;
        margin-right:20px;
        text-align:center;
        overflow:auto;
        float:left;        
    }

.user2
    {
        display: block;
        background:#ddd;
        border:3px solid #00f;            
        min-width:300px; max-width:350px;
        max-height:300px;
        margin-right:20px;
        text-align:center;
        overflow:scroll;
        float:right;        
    }

.user3
    {
        display: block;
        background:#ddd;
        border:3px solid #00f;            
        min-width:300px; max-width:350px;
        max-height:300px;
        margin-right:20px;
        text-align:center;
        overflow:visible;
        float:left;        
    }


.user4
    {
        display: block;
        background:#ddd;
        border:3px solid #00f;            
        min-width:300px; max-width:350px;
        max-height:300px;
        margin-right:20px;
        text-align:center;
        overflow:hidden;
        float:right;        
    }
    
.clear-right {
    clear:right;
}


.clear-left {
    clear:left;
}

.clear-both {
    clear:both;
}

footer {
    display: block;
    border:5px solid #fff;
    background:#000;
    margin-top:50px;
    padding:2px;
}
footer p {
    
    /* font:italic bold 15px/5px #fff arial;  */
    color:#FFF;
    font-size:15px;
    font-style:normal;
    text-align: center;

}

.user1, .user2, .user3, .user4 {
    margin-bottom: 15px;
}


.usertitle{text-decoration:underline; font:italic bold 20px arial}