@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

$light: #eee;
$dark: #444;
$link-color: #39b54a;
$rhythm: 16px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;       /* required for full height sidebars */
}

.wrapper {
  display: flex;
  min-height: 100%;   /* required for full height sidebars */
}

.hamburger-checkbox {
  position: absolute;
  opacity: 0;         /* do not show the checkbox */
}

.hamburger-label {
  position: absolute;
  top: ($rhythm * 2);
  left: ($rhythm * 2);
  z-index: 1;
  display: block;
  width: 42px;
  height: 42px;
  font: 42px/42px fontawesome;
  text-align: center;
  color: $dark;
  cursor: pointer;
}
.hamburger-checkbox:checked ~ .hamburger-label{
  color: transparent;
}

.hamburger-checkbox:checked ~ .hamburger-label:before {
  content: '\f00d';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 42px;
  height: 42px;
  font: 42px/42px fontawesome;
  text-align: center;
  color: $light;
}



.hamburger-right-checkbox {
  position: absolute;
  opacity: 0;         /* do not show the checkbox */
}

.hamburger-right-label {
  position: absolute;
  top: ($rhythm * 2);
  right: ($rhythm * 2);
  z-index: 1;
  display: block;
  width: 42px;
  height: 42px;
  font: 42px/42px fontawesome;
  text-align: center;
  color: $dark;
  cursor: pointer;
}
.hamburger-right-checkbox:checked ~ .hamburger-right-label{
  color: transparent;
}

.hamburger-right-checkbox:checked ~ .hamburger-right-label:before {
  content: '\f00d';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 42px;
  height: 42px;
  font: 42px/42px fontawesome;
  text-align: center;
  color: $light;
}




.content {
  flex: 1 1 100%;       /* flex: grow shrink basis */
  padding: 80px 30px;
  background: $light;
  color: $dark;
  box-shadow: 0 0 5px rgba(0,0,0,1);
  transition: all .3s;
}

.sidebar {
  flex: 1 500 auto;
  overflow: hidden;
  background: $dark;
  color: $light;
  transition: all .5s;
}

.sidebar-right {
  flex: 1 500 auto;
  overflow: hidden;
  background: $dark;
  color: $light;
  transition: all .5s;
}

.hamburger-checkbox:checked ~ .sidebar {
  flex-shrink: 0;       /* only an issue if list min-width isn't set */
  padding-top: 6.5em;
}

.hamburger-right-checkbox:checked ~ .sidebar-right {
  flex-shrink: 0;       /* only an issue if list min-width isn't set */
  padding-top: 6.5em;
}

.menu {
  list-style: none;
  
  li {
    padding: $rhythm ($rhythm * 2);
    border-top: 1px solid darken($dark, 10%);
    min-width: 20rem;
    
    &:last-child {
      border-bottom: 1px solid darken($dark, 10%);
    }
  }
}

.menu-right {
  list-style: none;
  
  li {
    padding: $rhythm ($rhythm * 2);
    border-top: 1px solid darken($dark, 10%);
    min-width: 10rem;
    
    &:last-child {
      border-bottom: 1px solid darken($dark, 10%);
    }
  }
}

/* Decorative styles unrelated to the demo */
body {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  margin: ($rhythm * 2) 0;
  font-weight: 300;
  font-size: 200%;
}
p {
  margin: 0 0 $rhythm 0;
}
a {
  color: $link-color;
}