body {
	height: 100vh;
	width: 100vw;
	max-width: 100%;
	padding: 10px;
	font-family: 'Lato', sans-serif;
	box-sizing: border-box;
}
body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	background-color: #333;
	border-radius: 10px;
}

/* Presentation */

h1 {
	padding-top: 20px;
	font-size: 3.4rem;
	text-align: center;
}

h4 {
	text-align: center;
	color: #777;
	font-size: 18px;
	margin-bottom: 20px;
	font-family: 'Roboto', Segoi UI, Helvetica, Arial, sans-serif;
}

h4 a {
	color: #3498db;
	text-decoration: none;
}

.btn-container {
	margin-top: 100px;
}

.row {
	margin-bottom: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Button Styles */

.btn {
	border: none;
	outline: 0;
	padding: 20px 25px;
	width: 200px;
	text-transform: uppercase;
	border-radius: 5px;
	font-size: 20px;
	box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.25);
	transition: 600ms;
	cursor: pointer;
}

/* Hover effect for the button */

.btn:hover {
	box-shadow: 0 37px 20px -20px rgba(0, 0, 0, 0.2);
	transform: translate(0px, -10px) scale(1.2);
}

/* Margin for the first button in a row */

.row .btn:first-child {
	margin-right: 200px;
}

/* Button 1 */

.btn-1 {
	background-image: linear-gradient(135deg, #ABDCFF 10%, #0396FF 100%);
	color: #fff;
}

/* Button 2 */

.btn-2 {
	background-image: linear-gradient(135deg, #FEB692 10%, #EA5455 100%);
	color: #fff;
}

/* Button 3 */

.btn-3 {
	background-image: linear-gradient(135deg, #FDEB71 10%, #F8D800 100%);
}

/* Button 2 */

.btn-4 {
	background-image: linear-gradient(135deg, #CE9FFC 10%, #7367F0 100%);
	color: #fff;
}

/* Button 5 */

.btn-5 {
	background-image: linear-gradient(135deg, #90F7EC 10%, #32CCBC 100%);
	color: #333;
}

/* Button 6 */

.btn-6 {
	background-image: linear-gradient(135deg, #F97794 10%, #623AA2 100%);
	color: #fff;
}

/* Button 7 */

.btn-7 {
	background-image: linear-gradient(135deg, #FFF6B7 10%, #F6416C 100%);
	color: #333;
}

/* Button 8 */

.btn-8 {
	background-image: linear-gradient(135deg, #FCCF31 10%, #F55555 100%);
}

/* Button 9 */

.btn-9 {
	background-image: linear-gradient(135deg, #5EFCE8 10%, #736EFE 100%);
	color: #333;
}

/* Button 10 */

.btn-10 {
	background-image: linear-gradient(135deg, #79F1A4 10%, #0E5CAD 100%);
	color: #fefefe;
}
