html,
body {
  height: 100%;
}
body {
  background: hsl(256, 18%, 17%);
  background-image: radial-gradient(circle at top right, hsl(256, 18%, 35%), hsl(256, 18%, 25%), hsl(256, 24%, 16%));
}
canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 100%;
  height: auto;
}
