body{border:1px solid red; background:#333; margin:0 auto; padding:0px}

.title{border: 2px solid aqua; text-align:center; padding:3px; margin-bottom:20px; color:#FFF; font-size:30px}

div{margin-bottom:30px}
/*============================================================================*/

.span1 {text-decoration:underline; color:red; font-size:28px}
.span2 {text-decoration:underline; color:rgba(200,100,0,1); font-size:25px}

.div1 {border: 5px solid red}
.div1 fieldset {border:3px solid rgba(200,100,0,1)}

.f1 legend {border:3px solid rgba(200,100,0,1); padding:3px; font:italic bold 25px arial}

.f3 legend {border:3px solid rgba(200,100,0,1); padding:3px; font:italic bold 25px arial}

.subtitle {font-size:20px; color:#FF0; letter-spacing:2px; word-spacing:5px}
.p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10, .p11, .p12, .p13, .p14, .p15, .p16 {font-size:20px; color:#fff}

.main1 {border: 1px solid blue}
td {padding: 3px; border:1px solid blue; width:700px; text-align:center}
.ol1 {list-style: none inside none}
.ol2 {list-style: disc inside none}
.ol3 {list-style: decimal inside none}
.ol4 {list-style: circle inside none}
.ol5 {list-style: square inside none}
.ol6 {list-style: armenian inside none}
.ol7 {list-style: lower-greek inside none}
.ol8 {list-style: katakana inside none}
.ol9 {list-style: georgian inside none}

.div1 li{margin:0px; padding:0px; font-size:20px; font-weight:bold}


/*============================================================================*/
.div2 {border: 5px solid green}
.div2 fieldset {border:3px solid lightblue}
.f2 legend {border:3px solid lightblue; padding:3px; font:italic bold 25px arial}

.ul11 {list-style: disc inside none;}
.ul12 {list-style: disc outside none}

.div2 li{margin:0px; padding:0px; font-size:20px; font-weight:bold; border: 1px solid #ddd; }
.main2 {border: 1px solid blue;}
.main2 td {padding:0px; text-align:center}
/*============================================================================*/

.div3 {border: 5px solid purple}
.div3 fieldset {border:3px solid blue}
.f3 legend {border:3px solid blue; padding:3px; font:italic bold 25px arial}

.ul13 {list-style: disc inside url('images and icons/roseicon.png')}
.ul14 {list-style: disc  inside url('images and icons/redicon.png')}
.ul15 {list-style: disc inside url('images and icons/blueicon.png')}
.ul16 {list-style: disc inside url('images and icons/orangeicon.png')}
.ul17 {list-style: disc  inside url('images and icons/yellowicon.png')}
.ul18 {list-style: disc inside url('images and icons/brownicon.png')}

.div3 li{margin:0px; padding:0px; font-size:20px; font-weight:bold }
.main3 {border: 1px solid blue;}
.main3 td {padding:0px; text-align:center}
    

li:hover {
    border: 5px solid #FF0;
    font-size: 50px ;
}

