body {background-color: #DDD; border:5px solid purple; padding:10px}
h1{font-family:cursive; text-align:center; border:3px solid #fff; background-color:#333; color:#fff; text-decoration:none}
div {text-align:center; padding:10px; margin-bottom:25px}

.subtitle1, .subtitle2, .subtitle3 {
    border:3px solid #fff; color:#fff; background-color:#080; font-family:sans-serif
}

.box1, .box2, .box3 {border:3px solid #00f }
legend, fieldset {border:2px solid rgb(100,100,255)}

fieldset{text-align:left; padding:10px; margin:10px auto; margin-bottom:10px}

legend{padding: 8px; font:italic bold 30px arial}

p{font:normal 400 25px "Time new roman"; text-align:center; word-spacing:5px; letter-spacing:2px }