/* * {
    
} */


body{
        border:3px groove aqua;
        background:#efefef;
        text-align:center;
        margin:0px;
        position: static;
    }
    
.home
    {
        text-decoration:none;
        border-radius: 100vw ;
        border:3px solid #00f;
        padding:5px;
        background-color:rgba(200,200 , 100, .4);
        font-size:25px;
        position:fixed;
        top:50px;
        right:10px;
        font-weight:bold;
        width:auto;        
        z-index: 9999;
    }

    
.home:hover
    {
        border: 5px solid #00f;
        background: #ffd700;        
    }


.end
    {
        text-decoration:none;
        border:3px solid #00f;
        border-radius : 100vw;
        padding:5px;
        background-color: rgba(200,200 , 100, .4); 
        /* background:#EEEFFF; */
        font-size:25px;
        position:fixed;
        top:100px;
        right:10px;
        font-weight:bold;
        width:auto;
        color:black;
        margin:auto;
        z-index: 9999;
    }
    
.end:hover
    {
        border: 5px solid #00f;
        background:#333;
        color:#FFF;
    }
.end:active{color:red}

/*----------------------------------------------------------------------------------------*/
h1, h2, h3 {text-align:center}

.title{
        border:3px solid #fff;
        background:#333;
        color:#ddd;
      }

.index
    {
        border:3px solid #00f;
        background:lightblue;
    }

fieldset
    {
        text-align:center;
        margin-bottom:20px;
        background:#ddd;
        border:3px double #333;
        font-size:25px;
    }

legend
    {
        border:3px solid;        
        font:italic bold 30px arial;
    }

.subtitle
    {
        
        font-size:30px;
        border:3px solid #444;
        margin:auto;
        width:600px;
        margin-bottom:20px;
    }

.subtitle0
    {
        font-size:25px;
        border:2px solid gray;
        margin:auto auto 20px;
        padding:5px;        
        width:450px;
    }

.relparent{position:relative; width:400px; margin:auto; bottom:20px}
.relparent0{position:relative; width:400px; margin:auto; bottom:30px}

.abschild, .abschild0{margin-top:100px}

.relparent, .relparent0, .absparent, .absparent0{border:3px solid red; padding:5px; background:#ddd;}
.relchild, .relchild0, .abschild, .abschild0{border:2px solid orange; padding:3px}

.absparent, .abschild0{position:relative; height:400px}
.abselement, .abselement0{position:absolute; right:10px; top:10px}

ol{list-style:none}


img
    {
        width:100px; height:100px;
        text-align:center;
        display:block;
        margin:auto;
    }
    
.Parent-Abs, .Child-Abs  {
    position: absolute;
    border: 5px solid red;
    z-index: 9999;
    background-color: rgba(200,200 , 100, 1);
}

.Child-Abs{    
    
    bottom:50px;    
    
}

.Parent-Abs{
    bottom:20px;
}

.Parent-Rel, .Child-Rel  {
    position:relative;
    border: 5px solid blue;
}

.footer {
    position :inherit;
}
