body{border:5px groove #00f; padding:3px; margin:0px; background-color:#efefef; text-align:center}

.title{border:3px double purple; margin:10px; padding:10px; background-color:#333; color:#FFF}

.main {}

/* ===============================================================================================*/

/* Formating Div [Basic Section]: */

.basic{border:3px dashed #333; padding:10px; margin-bottom:25px; background-color:aqua; text-align:center}

.basic h2{border:3px solid #222; padding:3px; margin:15px auto; background-color:rgb(150,150,200); width:600px; font-size:20px}
.basic h3{border:2px solid #222; padding:3px; margin:15px auto; background-color:rgb(150,150,200); width:600px; font-size:17px}

.basic fieldset {margin-bottom:20px}

legend {text-align:left}

.basic legend {background-color:lightblue; border:3px solid #333; padding:8px; font:normal bold 25px tahoma}


.basic p {font:normal bold 20px "time new roman"; border:1px solid; margin:auto 300px 50px; text-align:center}

.customize p {font:normal bold 20px "time new roman"; border:1px solid; margin:auto 300px 50px; text-align:center; color:black}

.b1 p {}

.b2 p {}
          
.pvalue1{padding:0px}
.pvalue2{padding:5px}
.pvalue3{padding:8px}
.pvalue4{padding:10px}
.pvalue5{padding:12px}


.hcenter_top{padding:30px 10px 0px}
.hcenter_bottom{padding:0px 10px 30px}
.vcenter_right{padding:10px 30px 10px 10px}
.vcenter_left{padding:10px 0px 10px 30px}
.vcenter_hcenter{padding:30px 30px}
/* ===============================================================================================*/

/* Formating Div [Customize Section]: */
.customize {border:3px dashed #333; padding:10px; margin-bottom:25px; background-color:#085}
.customize h2 {border:3px solid #222; padding:3px; margin:15px auto; background-color:rgb(150,150,50); width:700px}
.customize h3 {border:2px solid #222; padding:3px; margin:15px auto; background-color:rgb(150,150,50); width:500px}
.customize fieldset {margin-bottom:20px; padding-bottom:0px}
.customize legend {background-color:lightgreen; border:3px solid #333; padding:8px; font:normal bold 25px tahoma}

.ctop {padding-top:30px}
.cright {padding-right:30px}
.cbottom {padding-bottom:30px}
.cleft {padding-left:30px}

.cDouble1 {padding:30px 0px} /* Top+Bottom */
.cDouble2 {padding:0px 30px}    /* Right+Left */

.cDouble3 {padding:30px 30px 0px 0px}    /* Top+Right */

.cDouble4 {padding:0px 30px 30px 0px}    /* Right+Bottom */

.cDouble5 {padding:0px 0px 30px 30px} /* Bottom+Left */

.cDouble6 {padding:30px 0px 0px 30px} /*  Left+Top */



.cTriple1 {padding:30px 30px 30px 0px} /* Top+Right+Bottom */

.cTriple2 {padding:0px 30px 30px 30px}    /* Right+Bottom+Left */

.cTriple3 {padding:30px 0px 30px 30px}    /* Bottom+Left+Top */

.cTriple4 {padding:30px 30px 0px 30px}    /* Left+Top+Right */

