.title {font:italic bold 40px arial; text-align:center; background:purple;
       border:5px solid #333; color:#FFF; letter-spacing:2px; word-spacing:5px}
.footer {text-align:center; text-decoration:underline}
.index, .index legend {background:lightgreen; border:5px groove blue}

fieldset {margin-bottom:25px; border:5px solid aqua; background:lightblue}

legend {border:5px solid aqua; padding:10px; background:rgb(200,150,100);
       font:italic bold 25px arial; text-decoration:underline}
       
p {font-size:20px }

.title1 { margin:30px auto 20px; text-decoration:underline; font-size:30px}
/*========================================================================================================*/

.Example div {float:left; margin-left:95px; width:300px; height:auto; color:purple; font-size:25px; text-align:center; margin-top:20px; padding:5px }
.Outline {outline:3px solid #080}
.Border {border:3px solid #efefef}
.Outline-Border {border:3px solid #efefef; outline:3px solid #080}

/*========================================================================================================*/

    .home
        {
            background:lightblue; border:3px solid #0ff; padding:5px;
            position:fixed; font-size:20px; color:#FFF; top:50px; right:10px; 
            text-decoration: none        
        }
    
    .home:hover
        {
            background:#fff; border:5px solid #0ff; padding:5px;
            position:fixed; font-size:25px; color:lightblue;
            text-decoration: underline
        }
    
    .end
        {
            background:lightblue; border:3px solid #0ff; padding:5px;
            position:fixed; font-size:20px; color:#FFF; top:120px; right:19px; 
            text-decoration: none        
        }
        
    .end:hover
        {
            background:#fff; border:5px solid #0ff; padding:5px;
            position:fixed; font-size:25px; color:lightblue;
            text-decoration: underline
        }      