* {
    /* Following is the Transparent color property of  (All background-color's Elements) {over the background Image} */
    background-color: rgba(0, 255, 200, .1); 
} 


body{
        /* border:3px groove aqua; */
        /* background:#efefef; */
        text-align:center;
        margin:0px;
        background: url('Flower4.jpg') no-repeat fixed 100% 100% rgba(0,0, 0, .4) ;
        background-size: 100% ;
    }
    
h1, h2, h3 {text-align:center}

.title{
        border:3px solid #fff;
        /* background:transparent; */
        color:#ddd;
      }

.index
    {
        border:3px solid #00f;
        /* background:transparent; */
    }

fieldset
    {
        text-align:center;
        margin-bottom:20px;
        /* background:transparent; */
        border:3px double #333;
        font-size:25px;
    }

legend
    {
        border:3px solid;        
        font:italic bold 30px arial;
    }

.subtitle
    {
        
        font-size:30px;
        border:3px solid #444;
        margin:auto;
        width:600px;
        margin-bottom:20px;
    }

.subtitle0
    {
        font-size:25px;
        border:2px solid gray;
        margin:auto auto 20px;
        padding:5px;        
        width:400px;
    }

ol{
    list-style:none;
}


img
    {
        width:100px; height:100px;
        text-align:center;
        /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    }
    

.div1, .div2, .div3
    {
        border:1px solid #111;
        margin:auto auto;
        min-width:300px; max-width:500px;
        min-height:300px; max-height:300px;
        overflow:auto;
        display:inline-block;
        font-size:20px;
        text-align:center;
    }

.aiv, .imgiv, .spaniv
    {
        display:block;
        text-align:center;
        width:auto;
        margin:auto;
    }
    
    
    
.hbv, .divbv, .pbv
    {
        display:inline;
        margin-right:50px;
    }    
    
/* =========================================================================================================== */

.testDiv {
    /*{Default Full Background}=> background: url() repeatation attachment width height Color */
    
    border: 5px groove gold;
    /* display: none; */
    margin :auto;
    padding: auto;
    /* background-color: transparent ; */
        
}
