body{background: #111; border:1px solid red}

/*=====================================================================*/    

fieldset
    {
        text-align: center;
        border: 2px solid rgba(255,100,100,.5);
        padding: 20px;
        margin: 30px 0;
        margin-bottom: 50px;
    }
    
/*=====================================================================*/

legend
    {
        
        text-align: left;
        border: 2px solid rgba(255,100,100,.5);
        font-size: 35px;
        color: aqua;        
    }
    
/*=====================================================================*/

.a11, .a12, .a13
    {
        display: block;
        font: normal normal 20px/20px arial;
        color: #fff;
        text-align: center;
        text-decoration: none;
    }
/*=====================================================================*/        
.a21, .a22, .a23
    {
        display: inline-block;
        font: normal normal 20px arial;
        color: #111;
        text-align: center; 
        text-decoration: none;
        background: center no-repeat yellow;
        border: 5px solid #fff;
        padding: 8px;        
        margin-left: 20px;        
    }
    
.a31, .a32, .a33
    {
        display: inline-block;
        font: normal normal 20px arial;
        color: blue;
        text-align: center;
        text-decoration: underline;
        margin-left: 20px;
    }
/*=====================================================================*/        
.f1:hover {border: 5px solid #0f0;}
.l1:hover {border: 5px solid #0f0;}

.a11:hover {text-decoration:underline; color:green; font:italic bold 25px/20px "Time new roman"; margin-bottom:10px}
.a11:active {color: blue}

.a12:hover {text-decoration:underline; color:green; font:italic bold 25px/20px "Time new roman"; margin-bottom:10px}
.a12:active {color: blue}

.a13:hover {text-decoration:underline; color:green; font:italic bold 25px/20px "Time new roman"; margin-bottom:10px}
.a13:active {color: blue}
/*=====================================================================*/        
.f2:hover {border: 5px solid #FF0;}
.l2:hover {border: 5px solid #FF0;}

.a21:hover {text-decoration:underline; color:blue; font: oblique bold 25px serif; margin-right:20px; border:5px solid red}
.a21:active {background: green; color:#fff}

.a22:hover {text-decoration:underline; color:blue; font: oblique bold 25px serif; margin-right:15px; margin-left:35px; border:5px solid red}
.a22:active {background: green; color:#fff}

.a23:hover {text-decoration:underline; color:blue; font: oblique bold 25px serif; margin-left:40px; border:5px solid red}
.a23:active {background: green; color:#fff}
/*=====================================================================*/        
.f3:hover {border: 5px solid #00F;}
.l3:hover {border: 5px solid #00F;}

.a31:hover {text-decoration:none; color:red; font:italic bold 30px "time new roman"; border:3px solid #FFF }
.a31:active{border: 5px solid yellow; background:#fff; text-decoration:underline}

.a32:hover {text-decoration:none; color:red; font:italic bold 30px "time new roman"; border: 3px solid #FFF }
.a32:active{border: 5px solid yellow; background:#fff; text-decoration:underline}

.a33:hover {text-decoration:none; color:red; font:italic bold 30px "time new roman"; border: 3px solid #FFF }
.a33:active{border: 5px solid yellow; background:#fff; text-decoration:underline}
/*=====================================================================*/        

/*=====================================================================*/        
    
    
    
    
    