.title {font:italic bold 40px arial; text-align:center; background:purple;
       border:5px solid #333; color:#FFF; letter-spacing:2px; word-spacing:5px}

.index, .index legend {background:lightgreen; border:5px groove blue}

fieldset {margin-bottom:25px; border:5px solid aqua; background:lightblue}

legend {border:5px solid aqua; padding:10px; background:rgb(200,150,100);
       font:italic bold 25px arial; text-decoration:underline}
       
p {font-size:20px }

.title1 { margin:30px auto 20px; text-decoration:underline; font-size:30px}
/*========================================================================================================*/

.All div { display:inline-block; border:1px solid #fff; background:#ddd; margin-left:50px; margin-bottom:20px ; font-size:20px; width:150px;
           text-align:center }

.All div:hover {border:3px solid #fff}

.Auto:hover {cursor:auto}
.Default:hover {cursor:default}
.Pointer:hover {cursor:pointer}
.None:hover {cursor:none}
.Text:hover {cursor:text}
.Progress:hover {cursor:progress}
.Wait:hover {cursor:wait}
.Cell:hover {cursor:cell}
.Help:hover {cursor:help}
.Crosshair:hover {cursor:crosshair}
.Context-Menu:hover {cursor:context-menu}
.Vertical-Text:hover {cursor:vertical-text}
.Alias:hover {cursor:alias}
.Copy:hover {cursor:copy}
.Move:hover {cursor:move}
.No-Drop:hover {cursor:no-drop}
.Not-Allowed:hover {cursor:not-allowed}
.All-Scroll:hover {cursor:all-scroll}
.Col-Resize:hover {cursor:col-resize}
.Row-Resize:hover {cursor:row-resize}

/*========================================================================================================*/



.home
        {
            background:lightblue; border:3px solid #0ff; padding:5px;
            position:fixed; font-size:20px; color:#FFF; top:50px; right:10px; 
            text-decoration: none        
        }
    
        .home:hover
        {
            background:#fff; border:5px solid #0ff; padding:5px;
            position:fixed; font-size:25px; color:lightblue;
            text-decoration: underline
        }
    
        .end
        {
            background:lightblue; border:3px solid #0ff; padding:5px;
            position:fixed; font-size:20px; color:#FFF; top:120px; right:19px; 
            text-decoration: none        
        }
        
        .end:hover
        {
            background:#fff; border:5px solid #0ff; padding:5px;
            position:fixed; font-size:25px; color:lightblue;
            text-decoration: underline
        }      