
                    /* ================================== Global ================================ */
        * {margin:0px; padding:0px;
            -webkit-box-sizing:border-box;
            -moz-box-sizing:border-box;
            box-sizing:border-box}        
        
        hr{border:5px solid silver}
        
        p {margin-bottom:10px}
                
        ul {margin-bottom: 20px}
        
        ol li:first-child { margin-top:10px }
        
        ul li {list-style:none }
        
        
        li meter{margin-left:20px}

        .Clear {clear:both}        
        
        section {border: 3px solid #333; border-radius:10px; margin:20px 10px; padding:10px; height:auto}
        
        header {margin-bottom:20px; padding:10px }
        
        header h1 {text-decoration:underline; font-size:25px}        
        
        section > header {font-size:25px; text-align:center; font-weight:bold;
                          background:gray}
        
        section > header:hover {border:3px solid #100;  color:#fff}
        
        section article > header > p , article > p, header>p  {font-size:20px; color:#100; text-indent:20px; line-height:200%}
            
        /*ol li {font-size:20px; margin-left:50px; line-height:1.5em}*/
        
        .Welcome{background:#EEE; padding:10px; width:700px; text-align:center; margin:auto; font-weight:bold }
        .Welcome span{color:#888}
        
        output {font-weight:bold; font-size:20px}
        .FixSpace { margin-left:50px }
        .space {margin-left:70px}
        .space0 {margin-left:50px}        
/*----------------------------------------------------------------------------*/


                /* ========================= Page Header =========================== */
    .Main {border:2px solid #100; background:#ddd; color:#333;
            text-align:center; margin:10px; padding:10px;
            font-size:30px; word-spacing:5px; font-weight:bold;
            font-style:italic            
          }
/*----------------------------------------------------------------------------*/


            /* =============================== Page Index (Nav)============================== */
    nav { border:3px solid #ddd; background:gray; height:auto; margin:10px; padding:10px}
    
    nav ol li { display:inline-block; font-size:20px; margin-right:5px}
    
    nav ol { text-align:center }
    nav ol li:after {content:" | "}
    nav ol li:last-child:after {content:"  "}
    
    nav a { text-decoration:none; color:#100}
    
    nav ol a:hover, nav ol li:hover { border:gray; background:#ddd; font-weight:bold; text-decoration:underline}
        
/*-----------------------------------------------------------------------------------------------------------*/


            /* ============================= Page Aside ========================== */
    aside {width:30%; float:right}
    
    aside section {margin:20px 10px; margin-bottom:20px; padding:10px;
                   background:#eee; border:1px solid #ccc }
                   
    aside section ul {list-style:none; margin-top:10px}
    aside section ul li {line-height:1.8; margin-left:20px}
    aside section ul li:hover {text-decoration:underline}
    
    aside h3 {padding:10px; background:#d1d1d1}
        
    aside section div {margin:10px}
            

    progress {width:100px}

    .Poll input[list="Browsers"] {margin-top:10px}

    .Age-Calculate input[name="age"] {margin-top:10px}

    aside .AudioSection audio {width:350px; background:#efefef}

/*----------------------------------------------------------------------------*/


                /* ============================ Page Post ======================== */
    .Post {width:70%; float:left}
        
/*--------------------------------------------------------------------------------------------------------*/
                
            /* ======================== Section / New Form Input Attributes Concept ================= */
    .MainC ol {
                  border:2px solid #ddd; font-size:25px; color:green;
                  margin:10px; padding:15px;
                  list-style:inside; text-align:center; list-style: none                 
              }
/*---------------------------------------------------------------------------------------------------------*/                /*-------------------------------------------------------------------------------------------------------------*/

    /* ======================== Section / Input  Attribute [Min]  =================== */
    
    .InputMinNTag ol, .InputMinNTag ul {font-size:20px; padding:5px; margin:5px 50px; 
                                                              line-height:1.5em }
    .InputMinNTag li {list-style:disc; margin-bottom:10px}
    .InputMinNTag ol li {margin-bottom:10px}

    .InputMinNTag div {font-size:25px; border:2px solid gray; background:#efefef; 
                                  margin-bottom:25px; padding:10px}
    
    .InputMinNTag h1, {font-weight:bold; text-decoration:underline; margin:10px auto 15px}
    
    .InputMinNTag ul li, .InputMinNTag ol li {margin-left:20px; padding:10px; 
                                                                  line-height:1.5em; margin-top:10px} 
    /*
    .InputMinExp section div {background:#ccc}

    .InputMinExp section p {display:inline; margin-left:20px; margin-top:20px}    
    .InputMinExp input{margin-top:10px; width:200px; margin-left:20px}
                            
    
    .InputMinExp1 code {background:#fff; padding:10px; display:block; margin:10px 0; 
                                   border:1px solid #ccc; font-size:20px}
    
    .InputMinExp1 code:hover {border:3px solid crimson}    
    */
    
/*-------------------------------------------------------------------------------------------------------------*/

            /* ======================== Section / Input  Attribute [Max]  =================== */
    
    .InputMaxNTag ol, .InputMaxNTag ul {font-size:20px; padding:5px; margin:5px 50px; 
                                                              line-height:1.5em }
    .InputMaxNTag ul li {list-style:disc; margin-bottom:10px}
    .InputMaxNTag ol li {margin-bottom:10px}

    .InputMaxNTag div {font-size:25px; border:2px solid gray; background:#efefef; 
                          margin-bottom:25px; padding:10px}
    
    .InputMaxNTag h1, {font-weight:bold; text-decoration:underline; margin:10px auto 15px}
    
    .InputMaxNTag ul li, .InputMaxNTag ol li {margin-left:20px; padding:10px; line-height:1.5em; 
                                                                    margin-top:10px} 
      /*  
    .InputMaxExp section div {background:#ccc}
    
    .InputMaxExp section form p {display:inline; margin-left:20px; margin-top:20px}    
    
    .InputMaxExp input{margin-left:20px; margin-top:10px}    
    .InputMaxExp input[type="email"] {width:500px}     
        
    .InputMaxExp label{margin-left:20px}

    .InputMaxExp1 code {background:#fff; padding:10px; display:block; margin:10px 0; 
                           border:1px solid #ccc; font-size:20px}
    
    .InputMaxExp1 code:hover {border:3px solid crimson}    
    */
    
/*-------------------------------------------------------------------------------------------------------------*/

            /* ======================== Section / Input  Attribute [Step]  =================== */
    
    .InputStepNTag ol, .InputStepNTag ul {font-size:20px; padding:5px; margin:5px 50px; line-height:1.5em }
    
    .InputStepNTag ul li {list-style:disc; margin-bottom:10px}
    .InputStepNTag ol li {margin-bottom:10px}

    .InputStepNTag div {font-size:25px; border:2px solid gray; background:#efefef; 
                        margin-bottom:25px; padding:10px}
    
    .InputStepNTag h1, {font-weight:bold; text-decoration:underline; margin:10px auto 15px}
    
    .InputStepNTag ul li, .InputStepExp ol li {margin-left:20px; padding:10px; line-height:1.5em; 
                                              margin-top:10px} 
    /*
    .InputStepExp section { min-height:120px}
    .InputStepExp section div {background:#ccc}
    
    .InputStepExp section form p {display:inline; margin-left:20px; margin-top:20px; line-height:2em}    
    
    .InputStepExp form input {width:200px; margin-left:20px; margin-top:10px}
    .InputStepExp input[type="submit"] {margin-bottom:15px}
            
    .InputStepExp1 code {background:#fff; padding:10px; display:block; margin:10px 0; 
                               border:1px solid #ccc; font-size:20px}
    
    .InputStepExp1 code:hover {border:3px solid crimson}    
    */
    
/*-------------------------------------------------------------------------------------------------------------*/

                /* ======================== Section / Input  Attribute [Pattern]  =================== */
    
    .InputPatternNTag ol, .InputPatternNTag ul {font-size:20px; padding:5px; margin:5px 50px; line-height:1.5em }
    
    .InputPatternNTag ul li {list-style:disc; margin-bottom:10px}
    .InputPatternNTag ol li {margin-bottom:10px}

    .InputPatternNTag div {font-size:25px; border:2px solid gray; background:#efefef; 
                        margin-bottom:25px; padding:10px}
    
    .InputPatternNTag h1, {font-weight:bold; text-decoration:underline; margin:10px auto 15px}
    
    .InputPatternExp ul li, .InputPatternExp ol li {margin-left:20px; padding:10px; line-height:1.5em; 
                                              margin-top:10px} 
    
    .InputPatternExp section { min-height:120px}
    .InputPatternExp section div {background:#ccc}
    
    .InputPatternExp section form p {display:inline; margin-left:20px; margin-top:20px; line-height:2em}    
    
    .InputPatternExp form label {margin-left:20px; margin-top:10px}
    .InputPatternExp form input {width:200px; margin-left:20px; margin-top:10px}
    
    
    .InputPatternExp input[name="username1"] {margin-left:78px}
    /*.InputPatternExp input[name="username1"]:after{content:" * "; display:inline; color:red; margin-right:100px; 
                                                    font-size:20px} */
    
    
    .InputPatternExp input[type="password"] {margin-left:78px}
    /*.InputPatternExp input[type="password"]:after{content:" * ";  color:red; margin-left:400px; font-size:20px} */
    
    
    .InputPatternExp input[type="search"] {margin-left:40px}
    
    
    .InputPatternExp input[type="url"] {margin-left:53px}
    
    
    .InputPatternExp input[type="email"] {margin-left:36px}

    
    .InputPatternExp input[type="tel"] {margin-left:10px}
    
    
    .InputPatternExp input[type="submit"] {margin-bottom:15px}
            
    .InputPatternExp1 code {background:#fff; padding:10px; display:block; margin:10px 0; 
                               border:1px solid #ccc; font-size:20px}
    
    .InputPatternExp1 code:hover {border:3px solid crimson}    
    
    
/*-------------------------------------------------------------------------------------------------------------*/



            /* =============================== Section / Free Buttons =========================== */    

    .Home {
            position:fixed; border:3px solid #080; padding:5px;
            background:lightgreen; color:#100; text-align:center;
            font-size:20px; font-weight:bold; top:50px; right:10px
          }    
    .Home:hover {background:#080; border-color:lightgreen; color:#FFF}
    
    
    .End {
            position:fixed; border:3px solid #080; padding:5px;
            background:lightgreen; color:#100; text-align:center;
            font-size:20px; font-weight:bold; top:100px; right:10px
          }    
    .End:hover {background:#080; border-color:lightgreen; color:#FFF}


    .Note {position:fixed; left:0px; bottom:0px; width:100px; height:auto}
    .Note details summary {text-align:center}
    .Note details ul {margin-bottom:5px}
    .Note details ul li {padding:5px; text-align:left; margin-left:3px}
    .Note ul li a {text-decoration:none; text-align:left; margin-left:3px}
    .Note:hover {background:lightblue; border:3px solid gold; border-radius:3px}
    .Note details summary:hover {font-weight:bold}
    .Note ul li a:hover{text-decoration:underline; font-weight:bold; font-size:20px}
    
    .Calculator input[name="num1"] {margin-top:10px}

    .Age-Calculate input{margin-bottom:10px}
    .Age-Calculate output[name="resultM"] {margin-left:20px}
    
    .OutputExp input[name="age"] {margin-top:10px}      

    aside .AudioSection audio {display:block; color:#111; background:#111; margin:auto ; width:300px; 
                               margin-top:10px}
    aside .VideoSection video {display:block; color:#111; background:#111; margin:auto ; width:350px;                                           height:300px; margin-top:10px}
    
/*----------------------------------------------------------------------------*/


                /* ============================== Page Footer ============================= */
    footer {border:2px solid #100; background:#333; color:#fff;
            text-align:center; margin:10px; padding:10px}