 /* PHP5 [15 PHP 5  - Comparison Operators]] */

/* ================================== Global ================================ */

* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

hr {
    border: 5px solid silver
}

p {
    margin-bottom: 10px
}

ul {
    margin-bottom: 20px
}

ol li:first-child {
    margin-top: 10px
}

ul li {
    list-style: none
}

li~p {
    margin-bottom: 22px;
    margin-top: -10px;
    margin-left: 25px
}

li meter {
    margin-left: 20px
}

.Clear {
    clear: both
}

section {
    border: 3px solid #333;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 10px;
    height: auto
}

header {
    margin-bottom: 20px;
    padding: 10px
}

header h1 {
    text-decoration: underline;
    font-size: 25px
}

section>header {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    background: gray
}

section>header:hover {
    border: 3px solid #100;
    color: #fff
}

section article>header>p,
article>p,
header>p {
    font-size: 20px;
    color: #100;
    text-indent: 20px;
    line-height: 200%
}

.btn {
    width: 600px;
    text-align: center;
    font-size: 20px;
    color: darkgreen;
    font-weight: bold;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    border: solid 1px lightgreen;
}

.btn:hover {
    background: #111;
    border: solid 3px gold;
    color: lightgreen
}


/*ol li {font-size:20px; margin-left:50px; line-height:1.5em}*/

.Welcome {
    background: #EEE;
    padding: 10px;
    width: 700px;
    text-align: center;
    margin: auto;
    font-weight: bold
}

.Welcome span {
    color: #888
}

.JSDOMObjDefAssign {
    border: solid 1px red;
    text-align: left;
    margin: auto;
    font-size: 15px;
    font-weight: bold
}

.txtarea,
.txtarea1,
.txtarea2,
.txtarea3 {
    width: auto;
    height: auto;
    border: solid 3px blue;
    text-align: center;
    margin: 10px auto 10px;
    font-size: 15px;
    font-weight: bold;
    display: block
}

output {
    font-weight: bold;
    font-size: 20px
}

.FixSpace {
    margin-left: 50px
}

.space {
    margin-left: 70px
}

.space0 {
    margin-left: 50px
}

.one {
    margin-left: 40px
}

.two {
    margin-left: 80px
}

.three {
    margin-left: 120px
}

.four {
    margin-left: 160px
}

.five {
    margin-left: 200px
}

.six {
    margin-left: 240px
}

.seven {
    margin-left: 280px
}

.eight {
    margin-left: 320px
}

.nine {
    margin-left: 360px
}

.ten {
    margin-left: 400px
}

.elv {
    margin-left: 440px
}

.tlv {
    margin-left: 480px
}

.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .elv, .tlv {
    font-size: 15px;
}
/*----------------------------------------------------------------------------*/


/* ========================= Page Header =========================== */

.Main {
    border: 2px solid #100;
    background: #ddd;
    color: #333;
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    word-spacing: 5px;
    font-weight: bold;
    font-style: italic
}


/*----------------------------------------------------------------------------*/


/* =============================== Page Index (Nav)============================== */

nav {
    border: 3px solid #ddd;
    background: gray;
    height: auto;
    margin: 10px;
    padding: 10px
}

nav ol li {
    display: inline-block;
    font-size: 20px;
    margin-right: 5px
}

nav ol {
    text-align: center
}

nav ol li:after {
    content: " | "
}

nav ol li:last-child:after {
    content: "  "
}

nav a {
    text-decoration: none;
    color: #100
}

nav ol a:hover,
nav ol li:hover {
    border: gray;
    background: #ddd;
    font-weight: bold;
    text-decoration: underline
}


/*-----------------------------------------------------------------------------------------------------------*/


/* ============================= Page Aside ========================== */

aside {
    width: 30%;
    float: right
}

aside section {
    margin: 20px 10px;
    margin-bottom: 20px;
    padding: 10px;
    background: #eee;
    border: 1px solid #ccc
}

aside section ul {
    list-style: none;
    margin-top: 10px
}

aside section ul li {
    line-height: 1.8;
    margin-left: 20px
}

aside section ul li:hover {
    text-decoration: underline
}

aside h3 {
    padding: 10px;
    background: #d1d1d1
}

aside section div {
    margin: 10px
}

progress {
    width: 100px
}

.Poll input[list="Browsers"] {
    margin-top: 10px
}

.Age-Calculate input[name="age"] {
    margin-top: 10px
}

aside .AudioSection audio {
    width: 350px;
    background: #efefef
}


/*----------------------------------------------------------------------------*/

/* ============================ Page Post ======================== */

.Post {
    width: 70%;
    float: left
}


/*--------------------------------------------------------------------------------------------------------*/

/* ======================== CSS3 / [15 PHP 5 In Arabic - Increment _ Decrement Operators] Main ================= */

.MainC ol,ul {
    border: 2px solid #ddd;
    font-size: 25px;
    color: green;
    margin: 10px;
    padding: 15px;
    list-style: inside;
    text-align: center;
    list-style: none
}

.MainC li {
    margin-bottom: 20px
}


/*---------------------------------------------------------------------------------------------------------*/


/* ======================== CSS3 / [15 PHP 5 In Arabic - Increment _ Decrement Operators] Concept ]  =================== */

.PHPCon ol,
.PHPCon ul,
.PHPCon p {
    font-size: 20px;
    padding: 5px;
    margin: 5px 50px;
    line-height: 1.5em
}

.PHPCon ul li {
    list-style: disc;
    margin-bottom: 10px
}

.PHPCon ol li {
    margin-bottom: 20px
}

.PHPCon div {
    font-size: 25px;
    border: 2px solid gray;
    background: #efefef;
    margin-bottom: 25px;
    padding: 10px
}

.PHPCon h1 {
    font-weight: bold;
    text-decoration: underline;
    margin: 10px auto 15px
}

.PHPCon ul li,
.PHPCon ol li {
    margin-left: 20px;
    padding: 10px;
    line-height: 1.5em;
    margin-top: 10px
}

/*-------------------------------------------------------------------------------------------------------*/

/* ===================== CSS3 / [15 PHP 5 In Arabic - Increment _ Decrement Operators] Importance & Benefits] */

.PHPImp ol,
.PHPImp ul,
.PHPImp p {
    font-size: 20px;
    padding: 5px;
    margin: 5px 50px;
    line-height: 1.5em
}

.PHPImp ul li {
    list-style: disc;
    margin-bottom: 10px
}

.PHPImp ol li {
    margin-bottom: 10px
}

.PHPImp div {
    font-size: 25px;
    border: 2px solid gray;
    background: #efefef;
    margin-bottom: 25px;
    padding: 10px
}

.PHPImp h1 {
    font-weight: bold;
    text-decoration: underline;
    margin: 10px auto 15px
}

.PHPImp ul li,
.PHPImp ol li {
    margin-left: 20px;
    padding: 10px;
    line-height: 1.5em;
    margin-top: 10px
}


/*-------------------------------------------------------------------------------------------------------*/
/* ===================== CSS3 / [15 PHP 5 In Arabic - Increment _ Decrement Operators] Syntax] */

.PHPSyntx ol,
.PHPSyntx ul,
.PHPSyntx p {
    font-size: 20px;
    padding: 5px;
    margin: 5px 50px;
    line-height: 1.5em
}

.PHPSyntx ul li {
    list-style: disc;
    margin-bottom: 10px
}

.PHPSyntx ol li {
    margin-bottom: 10px
}

.PHPSyntx div {
    font-size: 20px;
    border: 2px solid gray;
    background: #efefef;
    margin-bottom: 25px;
    padding: 10px
}

.PHPSyntx h1 {
    font-weight: bold;
    text-decoration: underline;
    margin: 10px auto 15px
}

.PHPSyntx ul li,
.PHPSyntx ol li {
    margin-left: 20px;
    padding: 10px;
    line-height: 1.5em;
    margin-top: 10px
}


/*-------------------------------------------------------------------------------------------------------*/
/* Practical Application:*/

.PHPPract h1 {
    font-weight: bold;
    text-decoration: underline;
    margin: 10px auto 15px
}

.PHPPract ul li,
.PHPPract ol li {
    margin-left: 20px;
    padding: 10px;
    line-height: 1.5em;
    margin-top: 10px;
    font-size: 20px;
}

.PHPPract p {
    font-size: 20px;
    padding: 5px;
    margin: 5px 50px;
    line-height: 1.5em
}

.PHPPract section div {
    background: #ccc
}

.PHPPract section form p {
    display: inline;
    line-height: 2em;
    margin-left: 20px;
    margin-top: 20px
}

.PHPPract code, textarea {
    background: #fff;
    padding: 10px;
    display: block;
    margin: 10px 0;
    font-weight: bold;
    border: 1px solid #ccc;
    font-size: 15px
}

.PHPPract code:hover {
    border: 3px solid crimson
}

.PHPPract textarea:hover {
    border: 3px solid crimson
}


/*------------------------------------------------------------------------------------------------------*/


/* Practical Application [Application 1] {Formating the Classes of the Generted Elements from PHP File} :*/

.TestH1 {
    color:#fff;
    background-color: black;
    font-size: 30px;
}

.TestP {
    color:#fff;
    background-color: black;
    font-size: 20px;
}

.TestH11 {
    color:#f00;
    background-color: #00f;
    font-size: 30px;
}

.TestP1 {
    color:#f00;
    background-color: #00f;
    font-size: 20px;
}



/* .LitDefApp1 ol,
.LitDefApp1 ul,
.LitDefApp1 p {
    font-size: 20px;
    padding: 5px;
    margin: 5px 50px;
    line-height: 1.5em
}

.LitDefApp1 ul li {
    list-style: disc;
    margin-bottom: 10px
}

.LitDefApp1 ol li {
    margin-bottom: 20px
}

.LitDefApp1 div {
    font-size: 25px;
    border: 2px solid gray;
    background: #efefef;
    margin-bottom: 25px;
    padding: 10px
}

.LitDefApp1 h1 {
    font-weight: bold;
    text-decoration: underline;
    margin: 10px auto 15px
}

.LitDefApp1 ul li,
.LitDefApp1 ol li {
    margin-left: 20px;
    padding: 10px;
    line-height: 1.5em;
    margin-top: 10px
} */

/*-------------------------------------------------------------------------------------------------------*/



/*-------------------------------------------------------------------------------------------------------*/
/* =============================== Section / Free Buttons =========================== */

.Home {
    position: fixed;
    border: 3px solid #080;
    padding: 5px;
    background: lightgreen;
    color: #100;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    top: 50px;
    right: 10px
}

.Home:hover {
    background: #080;
    border-color: lightgreen;
    color: #FFF
}

.End {
    position: fixed;
    border: 3px solid #080;
    padding: 5px;
    background: lightgreen;
    color: #100;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    top: 100px;
    right: 10px
}

.End:hover {
    background: #080;
    border-color: lightgreen;
    color: #FFF
}

.Note {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100px;
    height: auto
}

.Note details summary {
    text-align: center
}

.Note details ul {
    margin-bottom: 5px
}

.Note details ul li {
    padding: 5px;
    text-align: left;
    margin-left: 3px
}

.Note ul li a {
    text-decoration: none;
    text-align: left;
    margin-left: 3px
}

.Note:hover {
    background: lightblue;
    border: 3px solid gold;
    border-radius: 3px
}

.Note details summary:hover {
    font-weight: bold
}

.Note ul li a:hover {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px
}

.Calculator input[name="num1"] {
    margin-top: 10px
}

.Age-Calculate input {
    margin-bottom: 10px
}

.Age-Calculate output[name="resultM"] {
    margin-left: 20px
}

.OutputExp input[name="age"] {
    margin-top: 10px
}

aside .AudioSection audio {
    display: block;
    color: #111;
    background: #111;
    margin: auto;
    width: 300px;
    margin-top: 10px
}

aside .VideoSection video {
    display: block;
    color: #111;
    background: #111;
    margin: auto;
    width: 350px;
    height: 300px;
    margin-top: 10px
}


/*----------------------------------------------------------------------------*/

/* ============================== Page Footer ============================= */

footer {
    border: 2px solid #100;
    background: #333;
    color: #fff;
    text-align: center;
    margin: 10px;
    padding: 10px
}