
/* CSS3 Selectors - Next{~}, Start With{^}, End With{$}, Contains{*} */

/* ================================== Global ================================ */

* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

hr { border: 5px solid silver }

p { margin-bottom: 10px }

ul { margin-bottom: 20px }

ol li:first-child { margin-top: 10px }

ul li { list-style: none }

li~p { margin-bottom: 20px; margin-top: -10px; margin-left: 25px }

li meter { margin-left: 20px }

.Clear { clear: both }

section { border: 3px solid #333; border-radius: 10px; margin: 20px 10px; padding: 10px; height: auto }

header { margin-bottom: 20px; padding: 10px }

header h1 { text-decoration: underline; font-size: 25px }

section > header { font-size: 25px; text-align: center; font-weight: bold; background: gray }

section > header:hover { border: 3px solid #100; color: #fff }

section article > header > p,
article > p,
header > p { font-size: 20px; color: #100; text-indent: 20px; line-height: 200% }

.btn { width: 600px; text-align: center; font-size: 20px; color: darkgreen; font-weight: bold; display: block; margin: auto;
     margin-bottom: 20px; border: solid 1px lightgreen }

.btn:hover { background: #111; border: solid 3px gold; color: lightgreen }


/*ol li {font-size:20px; margin-left:50px; line-height:1.5em}*/

.Welcome { background: #EEE; padding: 10px; width: 700px; text-align: center; margin: auto; font-weight: bold 1}

.Welcome span { color: #888 }

.JSDOMObjDefAssign { border: solid 1px red; text-align: left; margin: auto; font-size: 15px; font-weight: bold }

.txtarea,
.txtarea1,
.txtarea2,
.txtarea3 { width: auto; height: auto; border: solid 3px blue; text-align: center; margin: 10px auto 10px; font-size: 15px; 
    font-weight: bold;
    display: block }

output { font-weight: bold; font-size: 20px }

.FixSpace { margin-left: 50px }

.space { margin-left: 70px }

.space0 { margin-left: 50px }

.one { margin-left: 40px }

.two { margin-left: 80px }

.three { margin-left: 120px }

.four { margin-left: 160px }

.five { margin-left: 200px }

.six { margin-left: 240px }

.seven { margin-left: 280px }

.eight { margin-left: 320px }

.nine { margin-left: 360px }

.ten { margin-left: 400px }

.elv { margin-left: 440px }

.tlv { margin-left: 480px }
/*----------------------------------------------------------------------------*/
/* ========================= Page Header =========================== */

.Main { border: 2px solid #100; background: #ddd; color: #333; text-align: center; margin: 10px; padding: 10px; font-size: 30px;
    word-spacing: 5px; font-weight: bold; font-style: italic }
/*----------------------------------------------------------------------------*/
/* =============================== Page Index (Nav)============================== */

nav { border: 3px solid #ddd; background: gray; height: auto; margin: 10px; padding: 10px }

nav ol li { display: inline-block; font-size: 20px; margin-right: 5px }

nav ol { text-align: center }

nav ol li:after { content: " | " }

nav ol li:last-child:after { content: "  " }

nav a { text-decoration: none; color: #100 }

nav ol a:hover,
nav ol li:hover { border: gray; background: #ddd; font-weight: bold; text-decoration: underline }
/*-----------------------------------------------------------------------------------------------------------*/
/* ============================= Page Aside ========================== */

aside { width: 30%; float: right }

aside section { margin: 20px 10px; margin-bottom: 20px; padding: 10px; background: #eee; border: 1px solid #ccc }

aside section ul { list-style: none; margin-top: 10px }

aside section ul li { line-height: 1.8; margin-left: 20px }

aside section ul li:hover { text-decoration: underline }

aside h3 { padding: 10px; background: #d1d1d1 }

aside section div { margin: 10px }

progress { width: 100px }

.Poll input[list="Browsers"] { margin-top: 10px }

.Age-Calculate input[name="age"] { margin-top: 10px }

aside .AudioSection audio { width: 350px; background: #efefef }
/*----------------------------------------------------------------------------*/
/* ============================ Page Post ======================== */

.Post { width: 70%; float: left }
/*--------------------------------------------------------------------------------------------------------*/
/* ======================== CSS3 Animation - [[Iteration-count || Direction ]] Main ================= */

.MainC ol,ul { border: 2px solid #ddd; font-size: 25px; color: green; margin: 170px; padding: 15px; list-style: inside; 
    text-align: center; list-style: none }

.MainC li { margin-bottom: 20px }
/*---------------------------------------------------------------------------------------------------------*/
/* ======================== CSS3 Animation - [[Iteration-count || Direction ]] Concept ]  =================== */

.CSS3Con ol,
.CSS3Con ul,
.CSS3Con p { font-size: 20px; padding: 5px; margin: 5px 50px; line-height: 1.5em }

.CSS3Con ul li { list-style: disc; margin-bottom: 10px }

.CSS3Con ol li { margin-bottom: 20px }

.CSS3Con div { font-size: 25px; border: 2px solid gray; background: #efefef; margin-bottom: 25px; padding: 10px }

.CSS3Con h1 { font-weight: bold; text-decoration: underline; margin: 10px auto 15px }


.CSS3Con ul li,
.CSS3Con ol li { margin-left: 20px; padding: 10px; line-height: 1.5em; margin-top: 10px }
/*-------------------------------------------------------------------------------------------------------*/
/* ===================== CSS3 Animation - [ Iteration-count || Direction ] Importance & Benefits] */

.CSS3Imp ol,
.CSS3Imp ul,
.CSS3Imp p { font-size: 20px; padding: 5px; margin: 5px 50px; line-height: 1.5em }

.CSS3Imp ul li { list-style: disc; margin-bottom: 10px }

.CSS3Imp ol li { margin-bottom: 10px }

.CSS3Imp div { font-size: 25px; border: 2px solid gray; background: #efefef; margin-bottom: 25px; padding: 10px }

.CSS3Imp h1 { font-weight: bold; text-decoration: underline; margin: 10px auto 15px }

.CSS3Imp ul li,
.CSS3Imp ol li { margin-left: 20px; padding: 10px; line-height: 1.5em; margin-top: 10px }
/*-------------------------------------------------------------------------------------------------------*/
/* ===================== CSS3 Animation -[Name || uration ] Syntax] */

.CSS3Syntx ol,
.CSS3Syntx ul,
.CSS3Syntx p { font-size: 20px; padding: 5px; margin: 5px 50px; line-height: 1.5em }

.CSS3Syntx ul li { list-style: disc; margin-bottom: 10px }

.CSS3Syntx ol li { margin-bottom: 10px }

.CSS3Syntx div { font-size: 20px; border: 2px solid gray; background: #efefef; margin-bottom: 25px; padding: 10px }

.CSS3Syntx h1 { font-weight: bold; text-decoration: underline; margin: 10px auto 15px }

.CSS3Syntx ul li,
.CSS3Syntx ol li { margin-left: 20px; padding: 10px; line-height: 1.5em; margin-top: 10px }
/*-------------------------------------------------------------------------------------------------------*/
/* Presentation of Practical application section  */
.CSS3Pract > ul, .CSS3Pract > ol  { text-align: center; text-indent: 10px; margin: 30px;  width: 90%; position : relative }


.CSS3Pract { width:100% }

.CSS3Pract > h4  {  font-size: 30px ; border: 2px solid #111; margin-bottom: 10px }

.CSS3Pract > P  { font-size: 30px }

.CSS3Pract > ol > li {  font-size: 30px ; border: 2px solid #080 }

.CSS3Pract > ol > li :first-of-type {  border: 2px solid #080 }


.CSS3Pract > ul > li, .CSS3Pract > ol > li  {  border: none; list-style: none}

/*-------------------------------------------------------------------------------------------------------*/
/* Practical Application CSS3/ Animation- Create Snake Loading :*/
/* A) Public setting : */

.Container > legend, .Container1 > legend {
    top:100px;
    bottom: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size:20px;
}
/* ------------------------------------------ */

.Container > header {
    position : relative;        
    top:-120px;
    width: 100%; 
    height: fit-content;        
    color:  #333; 
    background-color: #CCC;         
    line-height: 50px ; 
    margin: 50px auto;         
    font-size :20px; 
    text-align: center ;
    border:2px solid black;
    border-radius: 20px;
    justify-content: center;                        
}  
/* ------------------------------------- */
.Container, .Container1, .Container2  {
    position:relative;
    width : 100%;
    height: 500px;
    margin: 20px auto; 
    perspective: 1000px;           
}
/* --------------------------------- */
/* First Snaking animation [horizontally] -> {snaking}  */
.Container span {
            
    position : absolute; 
    display: block;
    width: 20px ;
    height: 20px;
    border-radius: 10px; 
    opacity: .5; 
    top: 250px;    
    bottom: 0px;
    margin-left: 350px;
    margin-bottom: 100px;
    background-color: #3498DB;
    transition: all 1s ease-in-out; 
    animation : snaking 1.5s infinite ease-in-out; 
    /* top: 70px; */
    /* left:0px; */
    /* transform: rotateX(90deg); */
    /* transform: scale(3); */
}
.Container span:nth-of-type(2) {
    left:20px; 
    animation-delay: .2s;
}
    
.Container span:nth-of-type(3) {
    left:40px; 
    animation-delay: .4s;
}
    
.Container span:nth-of-type(4) {
    left:60px; 
    animation-delay: .6s;
}
    
.Container span:nth-of-type(5) {
    left:80px; 
    animation-delay: .8s;
}
    
.Container span:nth-of-type(6) {
    left:100px; 
    animation-delay: 1s;
}
    
.Container span:nth-of-type(7) {
    left:120px; 
    animation-delay: 1.2s;
}
    
.Container span:nth-of-type(8) {
    left:140px; 
    animation-delay: 1.4s;
}
    
.Container span:nth-of-type(9) {
    left:160px; 
    animation-delay: 1.6s;
}
    

.Container span:last-of-type {
    left:180px; 
    animation-delay: 1.8s;    
}    
/* --------------------------------- */

/* Second Snaking animation [Vertically] => {snaking1} */
.Container1 span {
    
    position : absolute; 
    display: block;
    width: 20px ;
    height: 20px;
    border-radius: 10px; 
    opacity: .5; 
    bottom: 0px;
    margin-left: 400px;
    margin-bottom: 0px;
    margin-top: 150px;
    background-color: #3498DB;
    transition: all 1s ease-in-out; 
    animation : snaking1 1.5s infinite ease-in-out; 
    
        
/*     
    position : absolute; 
    width: 50px ;
    height: 20px;
    left:0px;
    bottom: 0px;
    margin-left: 100px;
    margin-bottom: 0px;
    margin-top: 100px;
    top: 150px;
    display: block;
    transform: rotateY(180deg);
    transform: scale(3); 
    background-color: #9b59b6;
    transition: all 1s ease-in-out; 
    animation : waving1 1.5s infinite ease-in-out;  */
}
.Container1 span:nth-of-type(1) {
    top:-20px; 
    animation-delay: 0s;    
}

.Container1 span:nth-of-type(2) {
    top:0px; 
    animation-delay: .2s;    
}
    
.Container1 span:nth-of-type(3) {
    top:20px; 
    animation-delay: .4s;
}
    
.Container1 span:nth-of-type(4) {
    top:40px; 
    animation-delay: .6s;
}
    
.Container1 span:nth-of-type(5) {
    top:60px; 
    animation-delay: .8s;
}
    
.Container1 span:nth-of-type(6) {
    top:80px; 
    animation-delay: 1s;
}

.Container1 span:nth-of-type(7) {    
    top:100px; 
    animation-delay: 1.2s;
}
    
.Container1 span:nth-of-type(8) {
    top:120px; 
    animation-delay: 1.4s;
}

.Container1 span:nth-of-type(9) {
    top:140px; 
    animation-delay: 1.6s;
}

.Container1 span:last-of-type {
    top:160px; 
    animation-delay: 1.8s;
}    
/* ------------------------------------------------------------------ */

/* Third Waving animation [Circling]  => {waving2}*/
.Container2 {

    margin-top: 300px;
}


.Container2 span {
    position : absolute; 
    width: 50px ;
    height: 20px;
    left:150px;
    bottom: 0px;
    margin-left: 100px;
    margin-bottom: 0px;
    margin-top: 300px;
    top: 200px;
    display: block;
    transform: rotateX(180deg);
    /* transform: scale(3); */
    background-color: #9b59b6;
    transition: all 2s ease-in-out; 
    animation : waving2 1.5s infinite ease-in-out; 
}
.Container2 span:nth-of-type(2) {
    top:20px; 
    animation-delay: .2s;    
}
    
.Container2 span:nth-of-type(3) {
    top:30px; 
    animation-delay: .4s;
}
    
.Container2 span:nth-of-type(4) {
    top:60px; 
    animation-delay: .6s;
}
    
.Container2 span:nth-of-type(5) {
    top:90px; 
    animation-delay: .8s;
}
    
.Container2 span:nth-of-type(6) {
    top:120px; 
    animation-delay: .3s;
}

.Container2 span:nth-of-type(7) {    
    top:150px; 
    animation-delay: .5s;
}
    
.Container2 span:nth-of-type(8) {
    top:180px; 
    animation-delay: .7s;
}

.Container2 span:nth-of-type(9) {
    top:210px; 
    animation-delay: .9s;
}

.Container2 span:last-of-type {
    top:240px; 
    animation-delay: 1s;
}    
/* ------------------------------------------------------------------ */

/* ======================================================================== */

/* C) Declaring the Animations Functions : */

@keyframes snaking {

    0%, 100%{
        transform: translateY(0);
        opacity: .5;
        box-shadow: 0 0 3px rgba(0,0,0,1);
    } 
    
    
    50%{
        transform: translateY(-10px);
        opacity: 1;
        box-shadow: 0 20px 3px rgba(0,0,0,.03);
        background-color: #080  ;
    } 
        
}
 

/* --------------------------------------------------------------- */
@keyframes snaking1 {

    0%, 100%{
        transform: translateX(0);
        opacity: .5;
        box-shadow: 0 0px 3px rgba(0,0,0,1);
    } 
        
    50%{
        transform: translateX(10px);
        opacity: 1;
        box-shadow: 20px 0 3px rgba(0,0,0,.03);    
        background-color: #080  ;
    } 
        
}


/* -------------------------------------------------------------------------------------- */
/* 1) Waving / Horizontally animation  */
@keyframes waving {    
    0%, 100% {height: 10px; transform: translateY(0px) ; background-color: #9B59b6;}
    25% {height: 70px;  transform: translateY(10px) ; background-color: #3498d6}        
    50% {height: 160px;  transform: translateY(20px) ; background-color: #349556}        
}

/* --------------------------------------------------------------------------------------- */
/* 2) Waving / Vertically animation  */
@keyframes waving1 {
    0%, 100% {width: 10px; transform: translateX(0); background-color: #9B59b6;}
    25% {width: 200px; transform: translateX(20px); background-color: #3498d6}        
    50% {width: 150px; transform: translateX(30px) ; background-color: #349556}        
}

/* --------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------- */

/* 3) Waving + Circling animation  */
/* @keyframes waving2 {
    0% {width: 10px; transform: translateX(0); transform: rotateY(90deg); transform: rotateX(90deg); transform: rotateZ(90deg); background-color: #9B59b6 }
    25% {width: 200px; transform: translateX(20px); transform: rotateY(90deg); transform: rotateX(90deg); transform: rotateZ(90deg); background-color: #3498d6 }        
    50% {width: 150px; transform: translateX(30px); transform: rotateY(180deg); transform: rotateX(180deg); transform: rotateZ(180deg); background-color: #3498d6 }        
    75% {width: 10px; transform: translateX(40px); transform: rotateY(270deg); transform: rotateX(270deg); transform: rotateZ(270deg); background-color: #9B59b6 }
    100% {width: 10px; transform: translateX(0); transform: rotateY(360deg); transform: rotateX(360deg); transform: rotateZ(360deg); background-color: #9B59b6 }
} */




/* ----------------------------------------------------------------------- */
@keyframes waving2 {
    0% {width: 10px; transform: translateX(0); transform: translateY(0); transform: rotateY(90deg); transform: rotateX(90deg); transform: rotateZ(90deg); background-color: #9B59b6 }
    25% {width: 200px; transform: translateX(50px); transform: translateY(50px); transform: rotateY(90deg); transform: rotateX(90deg); transform: rotateZ(90deg); background-color: #3498d6 }        
    50% {width: 150px; transform: translateX(-50px); transform: translateY(50px); transform: rotateY(180deg); transform: rotateX(180deg); transform: rotateZ(180deg); background-color: #3455d6 }        
    75% {width: 10px; transform: translateX(50px); transform: translateY(-50px); transform: rotateY(270deg); transform: rotateX(270deg); transform: rotateZ(270deg); background-color: #9B59b6 }
    100% {width: 10px; transform: translateX(-100);  transform: translateY(-100); transform: rotateY(360deg); transform: rotateX(360deg); transform: rotateZ(360deg); background-color: #9B5556 }
}

/* --------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------- */
@keyframes swinging {

    0%{
        transform: rotateX(-50deg);
        height: 30px;
     }
         
     20%{
        transform: rotateX(50deg);
        height: 30px;
    }
    
    40%{
        transform: rotateX(-30deg);
        height: 40px;
    }
    
    60%{
        transform: rotateX(30deg);
        height: 40px;
    }
    
    80%{
        transform: rotateX(-30deg);
        height: 40px;
    }
    
    100%{
        transform: rotateX(0deg);
        height: 50px;
     }

}
/* =============================================================================================== */

/* 1) moving Animation  */
@keyframes moving {
    from {
        top:0px;
    }
    
    to {
        top:300px;
    }
}
/* ------------------------------------------------------- */

/* 2) Coloring Animation Function [2 Steps] */
@keyframes coloring {
    from {
        background-color: #111;
    }
    
    to {
        background-color: #fd0;
    }
}
/* ------------------------------------------------------- */


/* 3) [Coloring + Moving] Animation Function [4 Steps] */
@keyframes coloringMoving {
    
    0% {
        top:0; 
        left:0;
        background-color: #111;
    }
    
    25% {
        top:0; 
        left:200px;        
    }
    
    50% {
        top:150px; 
        left:200px;        
        background-color: #00f;
        border-radius: 50%;
    }
    
    75% {
        top:150px; 
        left:0;                    
    }

    100% {
        top:0; 
        left:0;
        background-color: #fd0;
    }

}
/* ------------------------------------------------------------ */
/* 3) [Coloring + Moving + Circling + Rotating] Animation Function [4 Steps] */
@keyframes  coloringMovingCircRot {
    0% {
        top:30px; 
        left:-50px;
        background-color: #f00;      
    }    
    25% {
        top:30px; 
        left:150px;
        background-color: #f00;
        transform: rotate(90deg);
    }    
    50% {
        top:200px; 
        left:150px;
        background-color: #00f;
        transform: rotate(180deg);
        border-radius: 50%;
    }    
    75% {
        top:150px; 
        left:-50px;        
        transform: rotate(270deg);
    }    
    100% {
        top:30px; 
        left:-50px;
        background-color: #f00;
        transform: rotate(360deg);
    }
}
/* ------------------------------------------------------------ */

/* 4) [Pumping Ball] Animation Function [2 Steps] */
@keyframes  Pumping-Ball {
    0% {
        top:300px; 
        left:50px;
        background-color: #f00;      
    }    
    /* 10% { top:450px; left:50px; background-color: #f00; transform: rotate(45deg); } */
    
    /* 20% { top:550px; left:50px; background-color: #00f; transform: rotate(90deg) }
    
    30% { top:650px; left:50px; background-color: #00f; transform: rotate(135deg) }
    
    40% { top:700px; left:50px; background-color: #00f; transform: rotate(180deg) }*/
    
    50% {
        top:550px; 
        left:50px;
        background-color: #00f;
        transform: rotate(225deg);
        border-radius: 50%;
    }
    
    /* 60% { top:700px; left:50px; transform: rotate(270deg) }
    
    75% {
        top:650px; 
        left:50px;        
        transform: rotate(315deg);
    }
    
    85% {
        top:550px; 
        left:50px;        
        transform: rotate(360deg);
    } */
    
    95% {
        top:350px; 
        left:50px;        
        transform: rotate(360deg);
    }
     
    100% {
        top:300px; 
        left:50px;
        background-color: #f00;
        transform: rotate(360deg);
    }


}
/* ------------------------------------------------------------ */
@keyframes Pumping-Ball0 {
    0%, 100% {
        top:0px;
        left:0px;
    }
            
    50% {    
        top:300px;
        left:0px;    
    }
}


/* ----------------------------------------------------------- */
/* ================================================================*/
/* =============================== Section / Free Buttons =========================== */

.Home { 
    position: fixed;
    border: 3px solid #080;
    padding: 5px;
    background: lightgreen;
    color: #100;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    top: 50px;
    right: 10px;
    transition: all .5s ease-in-out;

}

.Home:hover {
    background: #080;
    border-color: lightgreen;
    color: #FFF
}

.End {
    position: fixed;
    border: 3px solid #080;
    padding: 5px;
    background: lightgreen;
    color: #100;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    top: 100px;
    right: 10px;
    transition: all .5s ease-in-out;
}

.End:hover {
    background: #080;
    border-color: lightgreen;
    color: #FFF
}

.Note {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: auto;
    height: auto
}

.Note details summary {
    text-align: center
}

.Note details ul {
    margin-bottom: 5px
}

.Note details ul li {
    padding: 5px;
    text-align: left;
    margin-left: 3px
}

.Note ul li a {
    text-decoration: none;
    text-align: left;
    margin-left: 3px
}

.Note:hover {
    background: lightblue;
    border: 3px solid gold;
    border-radius: 3px
}

.Note details summary:hover {
    font-weight: bold
}

.Note ul li a:hover {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px
}

.Calculator input[name="num1"] {
    margin-top: 10px
}

.Age-Calculate input {
    margin-bottom: 10px
}

.Age-Calculate output[name="resultM"] {
    margin-left: 20px
}

.OutputExp input[name="age"] {
    margin-top: 10px
}

aside .AudioSection audio {
    display: block;
    color: #111;
    background: #111;
    margin: auto;
    width: 300px;
    margin-top: 10px
}

aside .VideoSection video {
    display: block;
    color: #111;
    background: #111;
    margin: auto;
    width: 350px;
    height: 300px;
    margin-top: 10px
}


/*----------------------------------------------------------------------------*/

/* ============================== Page Footer ============================= */

footer {
    border: 2px solid #100;
    background: #333;
    color: #fff;
    text-align: center;
    margin: 10px;
    padding: 10px
}

/*----------------------------------------------------------------------------*/