.title {font:italic bold 40px arial; text-align:center; background:purple;
       border:5px solid #333; color:#FFF; letter-spacing:2px; word-spacing:5px}

.index, .index legend {background:lightgreen; border:5px groove blue}

fieldset {margin-bottom:25px; border:5px solid aqua; background:lightblue}

legend {border:5px solid aqua; padding:10px; background:rgb(200,150,100);
       font:italic bold 25px arial; text-decoration:underline}
       
p {font-size:20px }


/*.parent1, .parent2 */


.title1 { margin:30px auto 20px; text-decoration:underline; font-size:30px}

.AExp1, .AExp2, .AExp3
       {              
              padding:10px; width:400px; height:auto; color:#FFF;
              border:3px solid black; font-size:25px; float:left; text-align:center
       }

.AExp1 { background:rgba(200,0,0,1)}
.AExp1:before {content:"Hello. I'm Shadi from Content:before (Text before div 1) / Css !"; color:#080; font-weight:bold; font-size:25px }

.AExp2 { background:#080}
.AExp2:before {content:"Hello. I'm Shadi from Content:before (Text before div 2) / Css !"; color:#00f; font-weight:bold; font-size:25px }

.AExp3 { background:rgba(0,0,200,1)}
.AExp3:before {content:"Hello. I'm Shadi from Content:before (Text before div 3) / Css !"; color:gray; font-weight:bold; font-size:25px }
/*====================================================================*/

.NExp1, .NExp2, .NExp3
       {
        padding:10px; border:3px solid black;
        width:400px; height:auto; color:#FFF; text-align:center; float:right
       }


.NExp1 { background:#f00 }
.NExp1:after {content:"Hello. I'm Shadi from Content:after (Text after div 1) / Css !"; color:#080; font-weight:bold; font-size:25px }

.NExp2 { background:#080 }
.NExp2:after {content:"Hello. I'm Shadi from Content:after (Text after div 2) / Css !"; color:#00f; font-weight:bold; font-size:25px }

.NExp3 { background:#00f }
.NExp3:after {content:"Hello. I'm Shadi from Content:after (Text after div 3) / Css !"; color:gray; font-weight:bold; font-size:25px }
/*========================================================================================================*/

.clear{clear:both}

.home
        {
            background:lightblue; border:3px solid #0ff; padding:5px;
            position:fixed; font-size:20px; color:#FFF; top:50px; right:10px; 
            text-decoration: none        
        }
    
        .home:hover
        {
            background:#fff; border:5px solid #0ff; padding:5px;
            position:fixed; font-size:25px; color:lightblue;
            text-decoration: underline
        }
    
        .end
        {
            background:lightblue; border:3px solid #0ff; padding:5px;
            position:fixed; font-size:20px; color:#FFF; top:120px; right:19px; 
            text-decoration: none        
        }
        
        .end:hover
        {
            background:#fff; border:5px solid #0ff; padding:5px;
            position:fixed; font-size:25px; color:lightblue;
            text-decoration: underline
        }      