body{border:5px groove #00f; padding:3px; margin:0px; background-color:#efefef; text-align:center}
.title{border:3px double purple; margin:10px; padding:10px; background-color:#333; color:#FFF}
.main {}



/* ===============================================================================================*/

/* Formating Div [Basic Section]: */

.basic{border:3px dashed #333; padding:10px; margin-bottom:25px; background-color:aqua; text-align:center}
.basic h2{border:2px solid #222; padding:3px; margin:15px auto; background-color:rgb(150,150,200); width:600px}
.basic fieldset {margin-bottom:20px}
.basic legend {background-color:lightblue; border:3px solid #333; padding:8px; font:normal bold 25px tahoma}
.basic p {margin-bottom:20px; text-align:center; margin-left:300px; margin-right:300px;
          font:normal bold 20px "time new roman"}
          
.width1{border:1px solid black}
.width2{border:2px solid black}
.width3{border:3px solid black}
.width4{border:5px solid black}
.width5{border:7px solid black}

.style1{border:3px none black}
.style2{border:3px solid black}
.style3{border:3px dotted black}
.style4{border:3px dashed black}
.style5{border:3px groove black}
.style6{border:3px double black}
.style7{border:3px ridge black}
.style8{border:3px inset black}
.style9{border:3px outset black}
.style10{border:3px hidden black}

.color1{border:3px solid red}
.color2{border:3px solid blue}
.color3{border:3px solid green}


/* ===============================================================================================*/

/* Formating Div [Customize Section]: */
.customize{border:3px dashed #333; padding:10px; margin-bottom:25px; background-color:#085}
.customize h2{border:2px solid #222; padding:3px; margin:15px auto; background-color:rgb(150,150,50); width:700px}
.customize fieldset {margin-bottom:20px}
.customize legend {background-color:lightgreen; border:3px solid #333; padding:8px; font:normal bold 25px tahoma}

.c1 p{margin-bottom:25px; margin-left:350px; margin-right:350px; font:normal bold 20px arial; color:#fff; padding:5px}
.ctop{border-top:3px solid #146}
.cright{border-right:3px solid #146}
.cbottom{border-bottom:3px solid #146}
.cleft{border-left:3px solid #146}

.c2 p{margin-bottom:25px; margin-left:350px; margin-right:350px; font:normal bold 20px arial; color:#fff; padding:5px}
.cDouble1{border:3px solid #246; border-right:none; border-left:none} /* Top+Bottom */
.cDouble2{border:3px solid #246; border-top:none; border-bottom:none}    /* Right+Left */

.cDouble3{border-top:3px solid #246; border-right:3px solid #246}    /* Top+Right */
.cDouble4{border-right:3px solid #246; border-bottom:3px solid #246}    /* Right+Bottom */

.cDouble5{border-style:none none solid solid; border-width:3px; border-color:#246} /* Bottom+Left */
.cDouble6{border-style:solid none none solid; border-width:3px; border-color:#246} /*  Left+Top */


.c3 p{margin-bottom:25px; margin-left:300px; margin-right:300px; font:normal bold 20px arial; color:#fff; padding:5px}
.cTriple1{border:3px solid #246; border-left:none} /* Top+Right+Bottom */
.cTriple2{border:3px solid #246; border-top:none}    /* Right+Bottom+Left */

.cTriple3{border-Bottom:3px solid #246; border-Left:3px solid #246; border-Top:3px solid #246}    /* Bottom+Left+Top */

.cTriple4{border-style:solid solid none solid; border-width:3px; border-color:#246}    /* Left+Top+Right */

