
                    /* ================================== Global ================================ */
        * {margin:0px; padding:0px;
            -webkit-box-sizing:border-box;
            -moz-box-sizing:border-box;
            box-sizing:border-box}        
        
        hr{border:5px solid silver}
        
        p {margin-bottom:10px}
                
        ul {margin-bottom: 20px}
        
        ol li:first-child { margin-top:10px }
        
        ul li {list-style:none }
        
        
        li meter{margin-left:20px}

        .Clear {clear:both}        
        
        section {border: 3px solid #333; border-radius:10px; margin:20px 10px; padding:10px}
        
        header {margin-bottom:20px; padding:10px }
        
        header h1 {text-decoration:underline; font-size:25px}        
        
        section > header {font-size:25px; text-align:center; font-weight:bold;
                          background:gray}
        
        section > header:hover {border:3px solid #100;  color:#fff}
        
        section article > header > p , article > p, header>p  {font-size:20px; color:#100; text-indent:20px; line-height:200%}
            
        /*ol li {font-size:20px; margin-left:50px; line-height:1.5em}*/
        
        .Welcome{background:#EEE; padding:10px; width:600px; text-align:center; margin:auto; font-weight:bold }
        .Welcome span{color:#888}
        
        output {font-weight:bold; font-size:20px}
        .FixSpace { margin-left:50px }
        .space {margin-left:70px}
        .space0 {margin-left:50px}        
/*----------------------------------------------------------------------------*/


                /* ========================= Page Header =========================== */
    .Main {border:2px solid #100; background:#ddd; color:#333;
            text-align:center; margin:10px; padding:10px;
            font-size:30px; word-spacing:5px; font-weight:bold;
            font-style:italic            
          }
/*----------------------------------------------------------------------------*/


            /* =============================== Page Index (Nav)============================== */
    nav { border:3px solid #ddd; background:gray; height:auto; margin:10px; padding:10px}
    
    nav ol li { display:inline-block; font-size:20px; margin-right:5px}
    
    nav ol { text-align:center }
    nav ol li:after {content:" | "}
    nav ol li:last-child:after {content:"  "}
    
    nav a { text-decoration:none; color:#100}
    
    nav ol a:hover, nav ol li:hover { border:gray; background:#ddd; font-weight:bold; text-decoration:underline}
        
/*-----------------------------------------------------------------------------------------------------------*/


            /* ============================= Page Aside ========================== */
    aside {width:30%; float:right}
    
    aside section {margin:20px 10px; margin-bottom:20px; padding:10px;
                   background:#eee; border:1px solid #ccc }
                   
    aside section ul {list-style:none; margin-top:10px}
    aside section ul li {line-height:1.8; margin-left:20px}
    aside section ul li:hover {text-decoration:underline}
    
    aside h3 {padding:10px; background:#d1d1d1}
        
    aside section div {margin:10px}
            

    progress {width:100px}

    .Poll input[list="Browsers"] {margin-top:10px}

    .Age-Calculate input[name="age"] {margin-top:10px}

    aside .AudioSection audio {width:350px; background:#efefef}

/*----------------------------------------------------------------------------*/


                /* ============================ Page Post ======================== */
    .Post {width:70%; float:left}
        
/*--------------------------------------------------------------------------------------------------------*/
                
            /* ======================== Section / New Form Elements Concept ================= */
    .MainC ol {
                  border:2px solid #ddd; font-size:25px; color:green;
                  margin:10px; padding:15px;
                  list-style:inside; text-align:center; list-style: none                 
              }
/*---------------------------------------------------------------------------------------------------------*/
                    /* ======================== Section / Input Attribute [disabled] =================== */
    
    .InputDisabledNTag ol, .InputDisabledNTag ul {font-size:20px; padding:5px; margin:5px 50px; line-height:1.5em }
    .InputDisabledNTag ul li {list-style:disc; margin-bottom:10px}
    .InputDisabledNTag ol li {margin-bottom:10px}

    .InputDisabledNTag div {font-size:25px; border:2px solid gray; background:#efefef; 
                         margin-bottom:25px; padding:10px}
    
    .InputDisabledNTag h1, {font-weight:bold; text-decoration:underline; margin:10px auto 15px}
    
    .InputDisabledNTag ul li, .InputDisabledNTag ol li {margin-left:20px; padding:10px; line-height:1.5em; 
                                                margin-top:10px} 
    .InputDisabledExp section form p {display:inline; line-height:2em; margin-left:20px; margin-top:20px}    
    .InputDisabledExp section form input[type="submit"] {display:inline; margin-left:20px; margin-top:10px}    
    
    .InputDisabledExp section div {background:#ccc}
    .InputDisabledExp input[type="color"], .InputDisabledExp input[type="submit"] {margin:auto; width:100px;                                                                                    margin:10px}
    
    .InputDisabledExp1 code {background:#fff; padding:10px; display:block; margin:10px 0; 
                         border:1px solid #ccc; font-size:20px}
    
    .InputDisabledExp1 code:hover {border:3px solid crimson}            

/*-------------------------------------------------------------------------------------------------------------*/

                    /* ======================== Section / Input Attribute [Required] =================== */
    
    .InputRequiredNTag ol, .InputRequiredNTag ul {font-size:20px; padding:5px; margin:5px 50px; line-height:1.5em }
    .InputRequiredNTag ul li {list-style:disc; margin-bottom:10px}
    .InputRequiredNTag ol li {margin-bottom:10px}

    .InputRequiredNTag div {font-size:25px; border:2px solid gray; background:#efefef; 
                        margin-bottom:25px; padding:10px}
    
    .InputRequiredExp h1, {font-weight:bold; text-decoration:underline; margin:10px auto 15px}
    
    .InputRequiredExp ul li, .InputRequiredExp ol li {margin-left:20px; padding:10px; line-height:1.5em; 
                                                  margin-top:10px} 
    
    
    .InputRequiredExp section div {background:#ccc}

    .InputRequiredExp section form p {display:inline; line-height:2em; margin-left:20px; margin-top:20px}    
    .InputRequiredExp section form input[type="submit"] {display:inline; margin-left:20px; margin-top:10px; width:50px}      
    .InputRequiredExp1 code {background:#fff; padding:10px; display:block; margin:10px 0; border:1px solid #ccc; 
                            font-size:20px}
    
    .InputRequiredExp1 code:hover {border:3px solid crimson}    
        
/*-------------------------------------------------------------------------------------------------------------*/

    /* ======================== Section / (Form , Form's Input) Attribute [Autocomplete]  =================== */
    
    .FormAutocompleteNTag ol, .FormAutocompleteNTag ul {font-size:20px; padding:5px; margin:5px 50px; 
                                                              line-height:1.5em }
    .FormAutocompleteNTag ul li {list-style:disc; margin-bottom:10px}
    .FormAutocompleteNTag ol li {margin-bottom:10px}

    .FormAutocompleteNTag div {font-size:25px; border:2px solid gray; background:#efefef; 
                                  margin-bottom:25px; padding:10px}
    
    .FormAutocompleteExp h1, {font-weight:bold; text-decoration:underline; margin:10px auto 15px}
    
    .FormAutocompleteExp ul li, .FormAutocompleteExp ol li {margin-left:20px; padding:10px; 
                                                                  line-height:1.5em; margin-top:10px} 
    
    .FormAutocompleteExp section div {background:#ccc}

    .FormAutocompleteExp section form p {display:inline; margin-left:20px; margin-top:20px}    
    .FormAutocompleteExp section form input[type="submit"], .FormAutocompleteExp input[type="number"]{display:inline;                                                                       margin-left:20px; width:50px}  
    
    .FormAutocompleteExp1 code {background:#fff; padding:10px; display:block; margin:10px 0; 
                                   border:1px solid #ccc; font-size:20px}
    
    .FormAutocompleteExp1 code:hover {border:3px solid crimson}    
    
    
/*-------------------------------------------------------------------------------------------------------------*/

            /* ======================== Section / Input [Autofocus]  =================== */
    
    .InputAutoFocusNTag ol, .InputAutoFocusNTag ul {font-size:20px; padding:5px; margin:5px 50px; line-height:1.5em }
    .InputAutoFocusNTag ul li {list-style:disc; margin-bottom:10px}
    .InputAutoFocusNTag ol li {margin-bottom:10px}

    .InputAutoFocusNTag div {font-size:25px; border:2px solid gray; background:#efefef; 
                          margin-bottom:25px; padding:10px}
    
    .InputAutoFocusNTag h1, {font-weight:bold; text-decoration:underline; margin:10px auto 15px}
    
    .InputAutoFocusNTag ul li, .InputAutoFocusNTag ol li {margin-left:20px; padding:10px; line-height:1.5em; 
                                                margin-top:10px} 
    
    
    .InputAutoFocusExp section div {background:#ccc}
    
    .InputAutoFocusExp section form p {display:inline; margin-left:20px; margin-top:20px}    
    .InputAutoFocusExp section form input[type="submit"], .InputAutoFocusExp input[type="text"]{display:inline;                                                                       margin-left:20px; width:100px; margin-top:10px}  
    .InputAutoFocusExp section form input[type="text"]{width:200px}


    .InputAutoFocusExp1 code {background:#fff; padding:10px; display:block; margin:10px 0; 
                           border:1px solid #ccc; font-size:20px}
    
    .InputAutoFocusExp1 code:hover {border:3px solid crimson}    
    
    
/*-------------------------------------------------------------------------------------------------------------*/

            /* ======================== Section / Form [NoValidate]  =================== */
    
    .FormNoValidateNTag ol, .FormNoValidateNTag ul {font-size:20px; padding:5px; margin:5px 50px; line-height:1.5em }
    .FormNoValidateNTag ul li {list-style:disc; margin-bottom:10px}
    .FormNoValidateNTag ol li {margin-bottom:10px}

    .FormNoValidateNTag div {font-size:25px; border:2px solid gray; background:#efefef; 
                        margin-bottom:25px; padding:10px}
    
    .FormNoValidateExp h1, {font-weight:bold; text-decoration:underline; margin:10px auto 15px}
    
    .FormNoValidateExp ul li, .FormNoValidateExp ol li {margin-left:20px; padding:10px; line-height:1.5em; 
                                              margin-top:10px} 
    
    
    .FormNoValidateExp section div {background:#ccc}
    
    .FormNoValidateExp section form p {display:inline; margin-left:20px; margin-top:20px; line-height:2em}    
    .FormNoValidateExp section form input[type="submit"], .FormNoValidateExp input[type="text"]{display:inline;                                                                       margin-left:20px; margin-top:10px}  
    .FormNoValidateExp input {width:200px}
    .FormNoValidateExp input[type="submit"] {width:100px}

    .FormNoValidateExp input[type="password"] {margin-left:23px}
    .FormNoValidateExp input[type="email"] {margin-left:45px}
    .FormNoValidateExp input[type="url"] {margin-left:63px}
    
    .FormNoValidateExp1 code {background:#fff; padding:10px; display:block; margin:10px 0; 
                           border:1px solid #ccc; font-size:20px}
    
    .FormNoValidateExp1 code:hover {border:3px solid crimson}    
    
    
/*-------------------------------------------------------------------------------------------------------------*/

            /* =============================== Section / Free Buttons =========================== */    

    .Home {
            position:fixed; border:3px solid #080; padding:5px;
            background:lightgreen; color:#100; text-align:center;
            font-size:20px; font-weight:bold; top:50px; right:10px
          }    
    .Home:hover {background:#080; border-color:lightgreen; color:#FFF}
    
    
    .End {
            position:fixed; border:3px solid #080; padding:5px;
            background:lightgreen; color:#100; text-align:center;
            font-size:20px; font-weight:bold; top:100px; right:10px
          }    
    .End:hover {background:#080; border-color:lightgreen; color:#FFF}


    .Note {position:fixed; left:0px; bottom:0px; width:100px; height:auto}
    .Note details summary {text-align:center}
    .Note details ul {margin-bottom:5px}
    .Note details ul li {padding:5px; text-align:left; margin-left:3px}
    .Note ul li a {text-decoration:none; text-align:left; margin-left:3px}
    .Note:hover {background:lightblue; border:3px solid gold; border-radius:3px}
    .Note details summary:hover {font-weight:bold}
    .Note ul li a:hover{text-decoration:underline; font-weight:bold; font-size:20px}
    
    .Calculator input[name="num1"] {margin-top:10px}

    .Age-Calculate input{margin-bottom:10px}
    .Age-Calculate output[name="resultM"] {margin-left:20px}
    
    .OutputExp input[name="age"] {margin-top:10px}      

    aside .AudioSection audio {display:block; color:#111; background:#111; margin:auto ; width:300px; 
                               margin-top:10px}
    aside .VideoSection video {display:block; color:#111; background:#111; margin:auto ; width:350px;                                           height:300px; margin-top:10px}
    
/*----------------------------------------------------------------------------*/


                /* ============================== Page Footer ============================= */
    footer {border:2px solid #100; background:#333; color:#fff;
            text-align:center; margin:10px; padding:10px}