.title{
       text-weight:bold; background:gold; border:3px solid silver;
        text-align:center; word-spacing:5px ; letter-spacing:2px        
      }

.subtitle1 {text-decoration:underline; font-family:"time new roman"}
/*===========================================================================================*/
legend {border: 4px groove blue; background:lightblue; padding:10px; font:italic bold 25px Arial}

.index { border:5px solid green; font-size:25px; color:#095; background:lightgreen}
.index legend {border:4px groove green; background:lightblue; color:blue}



.Visible, .Hidden, .Scroll, .Auto
    {
        border:4px solid blue; margin:20px auto 25px; padding:10px 10px 30px;
        background:#cfb
    }


.Auto{overflow:hidden}
/*==========================================================================================*/

.VCon, .VExp, .HCon, .HExp1, .HExp2, .SCon, .SExp, .ACon, .AExp1, .AExp2
    {
        background:#ddd; padding:10px; font-size:20px;
        text-align:center;
        margin: auto;
    }

.VCon
    { width:800px }

.VExp
    {        
        width:300px; height:200px;
        overflow: visible; 
    }
/*=======================================================================================*/

.HCon
    { width:800px }

.HExp1, .HExp2
    {        
        width:300px; height:200px;
        overflow: hidden; 
    }

.HExp2 p 
    {        
        float:left
    }
/*==========================================================================================*/

.SCon { width:800px }

.SExp
    {        
        width:300px; height:200px;
        overflow: scroll; 
    }
/*==========================================================================================*/

.ACon { width:800px }


.AExp1 , .AExp2
    {        
        width:300px; height:200px;
        overflow: auto;        
    }
    
.AExp1
    { float:left }
    
.AExp2
    { float:right }
/*==========================================================================================*/

.home
    {
        background:lightblue; border:3px solid #0ff; padding:5px;
        position:fixed; font-size:20px; color:#FFF; top:50px; right:10px; 
        text-decoration: none        
    }
    
.home:hover
    {
        background:#fff; border:5px solid #0ff; padding:5px;
        position:fixed; font-size:25px; color:lightblue;
        text-decoration: underline
    }

.end
    {
        background:lightblue; border:3px solid #0ff; padding:5px;
        position:fixed; font-size:20px; color:#FFF; top:120px; right:19px; 
        text-decoration: none        
    }
    
.end:hover
    {
        background:#fff; border:5px solid #0ff; padding:5px;
        position:fixed; font-size:25px; color:lightblue;
        text-decoration: underline
    }
/*==========================================================================================*/
/*==========================================================================================*/




