div
    {
        text-align: center;
        font-size: 40px;
        background: url('shadi.jpg') no-repeat fixed 50% 50% #FFF;   
        width:1322px;        
    }

p
    {
        text-align: center;
        display: block;
        font-size: 30px;
        font-weight: bold;
    }

fieldset
    {
        width:1322px;
        border:1px solid #00ffff;    
    }
    
legend
    {
        text-align:left;
    }
    
ul
    {
        list-style: none;        
    }
    
li
    {
        display: inline-block;
        margin-left: 20px;
        border: 1px solid aqua;
        padding: 10px;        
    }
    

    