body {background:#EFEFEF; padding:0px; margin:0px 0; text-align:center; font-family: Arial, Tahoma}

fieldset {text-align:center; padding:10px; margin-bottom:50px; border:5px solid #333}

div {background:#333; border:3px solid #FFF; color:#FFF; Font-size:15px; padding:10px; margin:0px 0}