.title {font:italic bold 40px arial; text-align:center; background:purple;
       border:5px solid #333; color:#FFF; letter-spacing:2px; word-spacing:5px}

.index, .index legend {background:lightgreen; border:5px groove blue}

fieldset {margin-bottom:25px; border:5px solid aqua; background:lightblue}

legend {border:5px solid aqua; padding:10px; background:rgb(200,150,100);
       font:italic bold 25px arial; text-decoration:underline}
       
p {font-size:20px }


.parent1, .parent2
       {
              border:1px solid black; background:#ddd;
              height:300px; width:300px; margin-bottom:20px;
              position:relative
       }

.parent1 { top:20px; left:20px; float:left}
.parent2 { top:20px; right:20px; float:right}

.title1 { margin:30px auto 20px; text-decoration:underline; font-size:30px}
.clear { clear:both}

.AExp1, .AExp2, .AExp3
       {
              z-index:auto; position:absolute;
              padding:10px; width:100px; height:100px; color:#FFF;
              border:3px solid black
       }


.AExp1 { background:rgba(200,0,0,1); top:0px; left:0px}

.AExp2 { background:#080; top:25px; left:25px}

.AExp3 { background:rgba(0,0,200,1); top:50px; left:50px}

/*====================================================================*/
.NExp1, .NExp2, .NExp3
       {
        position:absolute; padding:10px; border:3px solid black;
        width:100px; height:100px; color:#FFF; text-align:center
       }


.NExp1 { background:#f00; top:0px; right:0px; z-index:2}

.NExp2 { background:#080; top:110px; right:15px; z-index:3}

.NExp3 { background:#00f; top:50px; right:120px; z-index:1}
