body{padding:0px}
/*----------------------------------------------------------------------------------------------------*/
div{padding:10px; margin:auto auto 20px; background:#efefef}

.main{border:5px solid #080; margin:auto; padding:20px}
.first{border:5px solid #fff; margin:auto}
.second{border:5px solid #fff; margin:auto}

/*----------------------------------------------------------------------------------------------------*/

.title
      {
        border:5px solid #359; text-decoration:none; text-align:center;
        font:italic bold 35px Arial; word-spacing:5px; letter-spacing:2px;
        background:#070; color:#fff;
        border-radius: 100px;
      }
/*----------------------------------------------------------------------------------------------------*/

.subtitle1{
            text-align:center; border:3px groove orange; padding:5px;
            margin:30px auto; font-size:30px; background:#aeffff;            
          }
/*----------------------------------------------------------------------------------------------------*/

fieldset
    {
        margin:auto; padding:10px; background:#ddd; border:3px solid #f00;
        margin-bottom:30px;
    }

.index{line-height:35px}


legend
    {
        padding:10px; background:aqua; border:2px solid #f00;
        font: italic bold 25px "time new roman";
    }

/*----------------------------------------------------------------------------------------------------*/

ol{font-size:25px; word-spacing:5px; letter-spacing:3px; font-family:arial; list-style-type:disc;}

/*----------------------------------------------------------------------------------------------------*/
.div {padding-top:30px; border:3px groove #f00}
.div legend {background:red ; border:5px groove orange; color:#fff}

.div1, .div2, .div3
  {
    float:right; background:#080; color:#fff; padding:20px; margin-left:30px; text-align:center;
    font-size:30px; width:300px; height:20px; padding-top:10px
  }

/*----------------------------------------------------------------------------------------------------*/
.h {padding-top:30px ; border:3px groove #0f0}
.h legend {background:#333 ; border:5px groove #0f0; color:#fff}
.h1, .h2, .h3
  {
    float:left; background:#333; color:#fff; margin-left:20px; width:300px; text-align:center;
    font-size:30px; width:300px; height:20px; padding:20px 20px 25px 20px
  }

/*----------------------------------------------------------------------------------------------------*/
.p{border:3px groove #111; padding-top:30px}
.p legend{background:#555; color:#fff; border:5px solid #111}
.p1, .p2, .p3
  {
    float:right; background:#555; color:#fff; margin-left:20px; text-align:center;
    font-size:30px; width:300px; height:20px; padding:20px 20px 25px 20px
  }

/*----------------------------------------------------------------------------------------------------*/
.caption1, .caption2, .caption3
  {
    text-align:center;
    margin:auto;    
  }
  

.divA, .divB, .divC
  {
    float:right;  border:2px solid red; background:orange; font-size:20px;
    width:300px; text-align:center; margin-top:20px; margin-left:10px;     
  }

.divA div, .divB div, .divC div {float:left; margin-top:10px}
.divA p, .divB p, .divC p {float:right}

.clearr, .clearl, .clearb {display:none}
.clearr{clear:right}
.clearl{clear:left}
.clearb{clear:both}
/*----------------------------------------------------------------------------------------------------*/

.caption10, .caption20, .caption30
  {
    text-align:center;
    margin:auto;    
  }
  
.caption10 {color:blue}  

.divA0, .divB0, .divC0
  {
    float:right;  border:2px solid red; background:orange; font-size:20px;
    height:100px ;width:300px; text-align:center; margin-top:20px; margin-left:10px;     
  }

.divC0 {float:left}  
.divC0 {background:yellow; color:red; border:2px solid black}


.divA0 div {float:right; margin-top:10px}  
.divB0 div, .divC0 div {float:left; margin-top:10px}


.divB0 p, .divC0 p {float:right}
.divA0 p {float:left}
/*----------------------------------------------------------------------------------------------------*/

.footer{text-align:center; font-size:15px; background:#111; color:#fff}

.home
    {
        text-decoration:none; background:lightblue; font-size:20px;
        position:fixed; top:30px; right:10px; border:2px solid lightgreen; width:70px;
        padding:3px; margin:auto; text-align:center;
        border-radius: 100px;
    }
.home:hover{border:5px solid green; background:lightgreen; color:#fff}
    
    
.end
    {
        text-decoration:none; background:lightblue; font-size:20px;
        position:fixed; top:100px; right:10px; border:2px solid lightgreen; width:70px;
        padding:3px; margin:auto; text-align:center;
        border-radius: 100px;
    }
.end:hover{border:5px solid green; background:lightgreen; color:#fff}