.title
      {
        border:5px solid #359; text-decoration:none; text-align:center;
        font:italic bold 35px Arial; word-spacing:5px; letter-spacing:2px;
        background:#070; color:#fff      
      }

.subtitle1{
            text-align:center; border:3px groove orange; padding:5px;
            margin:30px auto; font-size:30px; background:#aeffff;            
          }

fieldset
    {
        margin:auto; padding:10px; background:#ddd; border:3px solid #f00;
        margin-bottom:20px
    }

legend
    {
        padding:10px; background:aqua; border:2px solid #f00;
        font: italic bold 25px "time new roman"
    }

ol{font-size:25px; word-spacing:5px; letter-spacing:3px; font-family:arial}

.floatleft{float:left; background:#00f; padding:10px; margin:10px 13px; width:300px}
.floatleft span{float:right}

.floatright{float:right; background:#00f; padding:10px; margin:10px 10px 10px 13px; width:300px}    
.floatright span{float:right}

.clearleft{clear:left}
.clearright{clear:right}
.clearboth{clear:both}


/* Make H4 from right to left test cleaing float */
.rtl {
    direction: rtl;
}



.footer{text-align:center; font-size:15px; background:#111; color:#fff}

.home
    {
        text-decoration:none; background:lightblue; font-size:20px;
        position:fixed; top:30px; right:10px; border:2px solid lightgreen; width:70px;
        padding:3px; margin:auto; text-align:center;
        border-radius: 100px;
        background-color: rgba(255, 100, 0, .1);
    }
.home:hover{border:5px solid green; background:lightgreen; color:#fff}
    
    
.end
    {
        text-decoration:none; background:lightblue; font-size:20px;
        position:fixed; top:100px; right:10px; border:2px solid lightgreen; width:70px;
        padding:3px; margin:auto; text-align:center;
        background-color: rgba(255, 100, 0, .1);
        border-radius: 100px;
    }
.end:hover{border:5px solid green; background:lightgreen; color:#fff}