body
    {
        
    }

.ar
    {
        /* Text Properties: */
        color: red;
        text-align:right;
        direction:rtl;        
        line-height: normal;
        letter-spacing: normal;
        
        /* Other Properties: */
        margin:10px 0;
        width:1000px; 
        font-size: 40px;
        font-weight: bold;
        border: 2px solid aqua;        
    }
    
.en
    {
        /* Text Properties: */
        color: blue;
        text-align:left;
        direction: ltr;     
        line-height: 1em; 
        letter-spacing: 2px;
        
        /* Other Properties: */
        margin:10px 0;
        width:1000px; 
        font-size: 40px;
        font-weight: bold;
        border: 2px solid aqua;        
    }