body
    {    
        margin: 10px;
        background-image: url('shadi.jpg') fixed auto ;
    }

header {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    text-transform:uppercase;
    outline: 5px groove orange;
    background: lightblue;    
}


    
p  {
        /* Text Properties: */
        color: red;
        text-align:left;
        direction:ltr;        
        line-height: 2em;
        letter-spacing: 5px;
        
        /* Other Properties: */
        margin:10px 0;
        width:auto; 
        font-size: 20px;
        font-weight: bold;
        border: 5px groove gold;        
    }
    
ul, li {
    display:block;
    list-style:circle;
    text-indent: 2px;
    padding : 10 px;

}


li {
    text-decoration: underline purple;
    text-indent: 10px;
    list-style-type: disc;
}

.sport {
    list-style-type: circle;
}

textarea {
            
    float:right;    
    display : block;
    overflow:scroll ;
    padding : 4px;
    margin: 10px;
    top: 0px;
    right: 0px;
    
}


.clear {
    float: none;


}
