body
    {
        background: #DDD;
        border: 1px solid #F00;
        margin: 0px 0;
        padding: 0;
    }
.title
    {
        text-align: center;
        color: #333;
        border: 2px solid #00f;
        background: aqua;
        text-decoration: underline;
        word-spacing: 10px;
        letter-spacing: 3px;
    }
/*==========================================================*/    
fieldset
    {
        border: 3px solid #333;
        margin: 20px;
        margin-bottom: 25px;
    }
/*==========================================================*/        
legend
    {
        border: 5px solid #333;
        padding: 10px;
        color: rgba(100,200,50,1);
        font-size: 25px;
        letter-spacing: 2px;
        word-spacing: 10px;
    }
/*==========================================================*/            
.p1
    {        
        color: rgba(50,50,255,1);
        font-size: 25px;
        text-align: left;
        direction: ltr;
        text-indent: 0px;
        white-space: normal;
        line-height: 200%;
        text-decoration: overline;
        text-transform: capitalize;
    }
/*==========================================================*/
.p2
    {
        color: #333;
        font-size: 25px;
        text-align: left;
        direction: ltr;
        text-indent: 50px;
        white-space: normal;
        line-height: 200%;
        text-decoration: underline;
        text-transform: lowercase;
    }   
/*==========================================================*/    
.p3
    {
        font-weight: bold;
        color: #888;
        font-size: 25px;
        text-align: left;
        direction: ltr;
        text-indent: 50px;
        white-space: normal;
        line-height: 3em;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: -1px;
        word-spacing: 10px;
    }
/*==========================================================*/    
.p4
    {
        font-weight: 100;
        color: #Abf;
        font-size: 25px;
        text-align: left;
        direction: ltr;
        text-indent: 50px;
        white-space: normal;
        line-height: 3em;
        text-decoration: line-through;
        text-transform: none;
    }
/*==========================================================*/
.p5
    {
        
        font-size: 30px;
        text-align: right;
        direction: rtl;
        text-indent: 10%;
        white-space: normal;
        color: #00f;
        text-transform: capitalize;
    }